   .amap-indoor-map .label-canvas {
   	position: absolute;
   	top: 0;
   	left: 0
   }
   
   .amap-indoor-map .highlight-image-con * {
   	pointer-events: none
   }
   
   .amap-indoormap-floorbar-control {
   	position: absolute;
   	margin: auto 0;
   	bottom: 165px;
   	right: 12px;
   	width: 35px;
   	text-align: center;
   	line-height: 1.3em;
   	overflow: hidden;
   	padding: 0 2px
   }
   
   .amap-indoormap-floorbar-control .panel-box {
   	background-color: rgba(255, 255, 255, .9);
   	border-radius: 3px;
   	border: 1px solid #ccc
   }
   
   .amap-indoormap-floorbar-control .select-dock {
   	position: absolute;
   	top: 0;
   	left: 0;
   	width: 100%;
   	box-sizing: border-box;
   	height: 30px;
   	border: solid #4196ff;
   	border-width: 0 2px;
   	border-radius: 2px;
   	pointer-events: none;
   	background: linear-gradient(to bottom, #f6f8f9 0, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%)
   }
   
   .amap-indoor-map .transition {
   	transition: opacity .2s
   }
   
   ,
   .amap-indoormap-floorbar-control .transition {
   	transition: top .2s, margin-top .2s
   }
   
   .amap-indoormap-floorbar-control .select-dock:after,
   .amap-indoormap-floorbar-control .select-dock:before {
   	content: "";
   	position: absolute;
   	width: 0;
   	height: 0;
   	left: 0;
   	top: 10px;
   	border: solid transparent;
   	border-width: 4px;
   	border-left-color: #4196ff
   }
   
   .amap-indoormap-floorbar-control .select-dock:after {
   	right: 0;
   	left: auto;
   	border-left-color: transparent;
   	border-right-color: #4196ff
   }
   
   .amap-indoormap-floorbar-control.is-mobile {
   	width: 37px
   }
   
   .amap-indoormap-floorbar-control.is-mobile .floor-btn {
   	height: 35px;
   	line-height: 35px
   }
   
   .amap-indoormap-floorbar-control.is-mobile .select-dock {
   	height: 35px;
   	top: 36px
   }
   
   .amap-indoormap-floorbar-control.is-mobile .select-dock:after,
   .amap-indoormap-floorbar-control.is-mobile .select-dock:before {
   	top: 13px
   }
   
   .amap-indoormap-floorbar-control.is-mobile .floor-list-box {
   	height: 105px
   }
   
   .amap-indoormap-floorbar-control .floor-list-item .floor-btn {
   	color: #555;
   	font-family: "Times New Roman", sans-serif, "Microsoft Yahei";
   	font-size: 16px
   }
   
   .amap-indoormap-floorbar-control .floor-list-item.selected .floor-btn {
   	color: #000
   }
   
   .amap-indoormap-floorbar-control .floor-btn {
   	height: 28px;
   	line-height: 28px;
   	overflow: hidden;
   	cursor: pointer;
   	position: relative;
   	-webkit-touch-callout: none;
   	-webkit-user-select: none;
   	-khtml-user-select: none;
   	-moz-user-select: none;
   	-ms-user-select: none;
   	user-select: none
   }
   
   .amap-indoormap-floorbar-control .floor-btn:hover {
   	background-color: rgba(221, 221, 221, .4)
   }
   
   .amap-indoormap-floorbar-control .floor-minus,
   .amap-indoormap-floorbar-control .floor-plus {
   	position: relative;
   	text-indent: -1000em
   }
   
   .amap-indoormap-floorbar-control .floor-minus:after,
   .amap-indoormap-floorbar-control .floor-plus:after {
   	content: "";
   	position: absolute;
   	margin: auto;
   	top: 9px;
   	left: 0;
   	right: 0;
   	width: 0;
   	height: 0;
   	border: solid transparent;
   	border-width: 10px 8px;
   	border-top-color: #777
   }
   
   .amap-indoormap-floorbar-control .floor-minus.disabled,
   .amap-indoormap-floorbar-control .floor-plus.disabled {
   	opacity: .3
   }
   
   .amap-indoormap-floorbar-control .floor-plus:after {
   	border-bottom-color: #777;
   	border-top-color: transparent;
   	top: -3px
   }
   
   .amap-indoormap-floorbar-control .floor-list-box {
   	max-height: 153px;
   	position: relative;
   	overflow-y: hidden
   }
   
   .amap-indoormap-floorbar-control .floor-list {
   	margin: 0;
   	padding: 0;
   	list-style: none
   }
   
   .amap-indoormap-floorbar-control .floor-list-item {
   	position: relative
   }
   
   .amap-indoormap-floorbar-control .floor-btn.disabled,
   .amap-indoormap-floorbar-control .floor-btn.disabled *,
   .amap-indoormap-floorbar-control.with-indrm-loader * {
   	-webkit-pointer-events: none !important;
   	pointer-events: none !important
   }
   
   .amap-indoormap-floorbar-control .with-indrm-loader .floor-nonas {
   	opacity: .5
   }
   
   .amap-indoor-map-moverf-marker {
   	color: #555;
   	background-color: #FFFEEF;
   	border: 1px solid #7E7E7E;
   	padding: 3px 6px;
   	font-size: 12px;
   	white-space: nowrap;
   	display: inline-block;
   	position: absolute;
   	top: 1em;
   	left: 1.2em
   }
   
   .amap-indoormap-floorbar-control .amap-indrm-loader {
   	-moz-animation: amap-indrm-loader 1.25s infinite linear;
   	-webkit-animation: amap-indrm-loader 1.25s infinite linear;
   	animation: amap-indrm-loader 1.25s infinite linear;
   	border: 2px solid #91A3D8;
   	border-right-color: transparent;
   	box-sizing: border-box;
   	display: inline-block;
   	overflow: hidden;
   	text-indent: -9999px;
   	width: 13px;
   	height: 13px;
   	border-radius: 7px;
   	position: absolute;
   	margin: auto;
   	top: 0;
   	left: 0;
   	right: 0;
   	bottom: 0
   }
   
   @-moz-keyframes amap-indrm-loader {
   	0% {
   		-moz-transform: rotate(0);
   		transform: rotate(0)
   	}
   	100% {
   		-moz-transform: rotate(360deg);
   		transform: rotate(360deg)
   	}
   }
   
   @-webkit-keyframes amap-indrm-loader {
   	0% {
   		-webkit-transform: rotate(0);
   		transform: rotate(0)
   	}
   	100% {
   		-webkit-transform: rotate(360deg);
   		transform: rotate(360deg)
   	}
   }
   
   @keyframes amap-indrm-loader {
   	0% {
   		-moz-transform: rotate(0);
   		-ms-transform: rotate(0);
   		-webkit-transform: rotate(0);
   		transform: rotate(0)
   	}
   	100% {
   		-moz-transform: rotate(360deg);
   		-ms-transform: rotate(360deg);
   		-webkit-transform: rotate(360deg);
   		transform: rotate(360deg)
   	}
   }
   
   #YSF-BTN-HOLDER {
   	position: fixed;
   	max-width: 30px;
   	max-height: 120px;
   	right: 30px;
   	bottom: 0px;
   	cursor: pointer;
   	overflow: visible;
   	filter: alpha(opacity=100);
   	opacity: 1;
   	z-index: 9990
   }
   
   #YSF-BTN-HOLDER:hover {
   	filter: alpha(opacity=95);
   	opacity: .95
   }
   
   #YSF-BTN-HOLDER img {
   	display: block;
   	overflow: hidden;
   }
   
   #YSF-BTN-CIRCLE {
   	display: none;
   	position: absolute;
   	right: -5px;
   	top: -5px;
   	width: auto;
   	min-width: 12px;
   	height: 20px;
   	padding: 0 4px;
   	background-color: #f00;
   	font-size: 12px;
   	line-height: 20px;
   	color: #fff;
   	text-align: center;
   	white-space: nowrap;
   	font-family: sans-serif;
   	border-radius: 10px;
   	z-index: 1;
   }
   
   #YSF-BTN-HOLDER.layer-1 #YSF-BTN-CIRCLE {
   	top: -30px;
   }
   
   #YSF-BTN-HOLDER.layer-2 #YSF-BTN-CIRCLE {
   	top: -30px;
   }
   
   #YSF-BTN-HOLDER.layer-3 #YSF-BTN-CIRCLE {
   	top: -30px;
   }
   
   #YSF-BTN-HOLDER.layer-4 #YSF-BTN-CIRCLE {
   	top: -30px;
   }
   
   #YSF-BTN-HOLDER.layer-5 #YSF-BTN-CIRCLE {
   	top: -30px;
   }
   
   #YSF-BTN-HOLDER.layer-6 #YSF-BTN-CIRCLE {
   	top: -5px;
   }
   
   #YSF-BTN-BUBBLE {
   	display: none;
   	position: absolute;
   	left: -274px;
   	bottom: 0px;
   	width: 278px;
   	height: 80px;
   	box-sizing: border-box;
   	padding: 14px 22px;
   	filter: alpha(opacity=100);
   	opacity: 1;
   	background: url(https://qiyukf.com/sdk//res/img/sdk/bg_floatMsg2x.png) no-repeat;
   	background: url(https://qiyukf.com/sdk//res/img/sdk/bg_floatMsg.png)9;
   	background-size: 278px 80px;
   	z-index: 1;
   }
   
   #YSF-BTN-HOLDER.layer-1 #YSF-BTN-BUBBLE {
   	bottom: 9px;
   }
   
   #YSF-BTN-HOLDER.layer-2 #YSF-BTN-BUBBLE {
   	bottom: 9px;
   }
   
   #YSF-BTN-HOLDER.layer-3 #YSF-BTN-BUBBLE {
   	bottom: 9px;
   }
   
   #YSF-BTN-HOLDER.layer-4 #YSF-BTN-BUBBLE {
   	bottom: 9px;
   }
   
   #YSF-BTN-HOLDER.layer-5 #YSF-BTN-BUBBLE {
   	bottom: 9px;
   }
   
   #YSF-BTN-HOLDER.layer-6 #YSF-BTN-BUBBLE {
   	bottom: -6px;
   }
   
   #YSF-BTN-BUBBLE:hover {
   	filter: alpha(opacity=95);
   	opacity: .95
   }
   
   #YSF-BTN-CONTENT {
   	height: 45px;
   	padding: 0;
   	white-space: normal;
   	word-break: break-all;
   	text-align: left;
   	font-size: 14px;
   	line-height: 1.6;
   	color: #222;
   	overflow: hidden;
   	z-index: 0;
   }
   
   #YSF-BTN-ARROW {
   	display: none;
   }
   
   #YSF-BTN-CLOSE {
   	position: absolute;
   	width: 15px;
   	height: 15px;
   	right: 4px;
   	top: -3px;
   	filter: alpha(opacity=90);
   	opacity: .9;
   	cursor: pointer;
   	background: url(https://qiyukf.com/sdk//res/img/sdk/btn-close.png) no-repeat;
   	z-index: 1
   }
   
   #YSF-BTN-CLOSE:hover {
   	filter: alpha(opacity=100);
   	opacity: 1;
   }
   
   #YSF-PANEL-CORPINFO.ysf-chat-layeropen {
   	width: 511px;
   	height: 470px;
   	box-shadow: 0 0 20px 0 rgba(0, 0, 0, .15);
   }
   
   #YSF-PANEL-CORPINFO {
   	position: fixed;
   	bottom: 0px;
   	right: 20px;
   	width: 0;
   	height: 0;
   	z-index: 99999;
   }
   
   #YSF-PANEL-INFO.ysf-chat-layeropen {
   	width: 311px;
   	height: 470px;
   	filter: alpha(opacity=100);
   	opacity: 1;
   	box-shadow: 0 0 20px 0 rgba(0, 0, 0, .15);
   }
   
   #YSF-PANEL-INFO {
   	position: fixed;
   	bottom: 0px;
   	right: 20px;
   	width: 0px;
   	height: 0px;
   	filter: alpha(opacity=0);
   	opacity: 0;
   	z-index: 99999;
   }
   
   #YSF-PANEL-INFO .u-btn {
   	background-color: #F96868
   }
   
   #YSF-CUSTOM-ENTRY {
   	background-color: #F96868;
   }
   
   #YSF-CUSTOM-ENTRY-0 {
   	position: relative;
   	bottom: 24px;
   	width: auto;
   	background-color: #F96868;
   	box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.25);
   }
   
   #YSF-CUSTOM-ENTRY-1 {
   	position: relative;
   	bottom: 24px;
   	width: auto;
   	background-color: #F96868;
   	border-radius: 14px;
   	box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.25);
   }
   
   #YSF-CUSTOM-ENTRY-2 {
   	position: relative;
   	bottom: 24px;
   	width: auto;
   	background-color: #F96868;
   	border-radius: 0;
   	box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.25);
   }
   
   #YSF-CUSTOM-ENTRY-3 {
   	position: relative;
   	bottom: 24px;
   	width: auto;
   	background-color: #F96868;
   	border-radius: 50%;
   	box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.25);
   }
   
   #YSF-CUSTOM-ENTRY-4 {
   	position: relative;
   	bottom: 24px;
   	width: auto;
   	background-color: #F96868;
   	border-radius: 50%;
   	box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.25);
   }
   
   #YSF-CUSTOM-ENTRY-5 {
   	position: relative;
   	bottom: 24px;
   	width: auto;
   	background-color: #F96868;
   	border-radius: 5px;
   	box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.25);
   }
   
   #YSF-CUSTOM-ENTRY-6 {
   	position: relative;
   	bottom: 0px;
   	width: auto;
   	background-color: #F96868;
   	border-radius: 5px;
   	border-bottom-left-radius: 0;
   	border-bottom-right-radius: 0;
   }
   
   #YSF-CUSTOM-ENTRY-0 img {
   	max-width: 300px;
   	height: auto;
   }
   
   #YSF-CUSTOM-ENTRY-1 img {
   	width: 28px;
   	height: auto;
   }
   
   #YSF-CUSTOM-ENTRY-2 img {
   	width: 58px;
   	height: auto;
   }
   
   #YSF-CUSTOM-ENTRY-3 img {
   	width: 60px;
   	height: auto;
   }
   
   #YSF-CUSTOM-ENTRY-4 img {
   	width: 60px;
   	height: auto;
   }
   
   #YSF-CUSTOM-ENTRY-5 img {
   	width: 60px;
   	height: auto;
   }
   
   #YSF-CUSTOM-ENTRY-6 img {
   	width: 115px;
   	height: auto;
   }
   
   #YSF-IFRAME-LAYER {
   	border: 0;
   	outline: none;
   }
   
   .ysf-online-invite-mask {
   	z-index: 10000;
   	position: fixed;
   	_position: absolute;
   	top: 0;
   	left: 0;
   	right: 0;
   	bottom: 0;
   	width: 100%;
   	height: 100%;
   	background: #fff;
   	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   	filter: alpha(opacity=0);
   	opacity: 0;
   }
   
   .ysf-online-invite-wrap {
   	z-index: 10001;
   	position: fixed;
   	_position: absolute;
   	top: 50%;
   	left: 50%;
   	width: 250px;
   }
   
   .ysf-online-invite {
   	position: relative;
   	top: -50%;
   	left: -50%;
   	cursor: pointer;
   }
   
   .ysf-online-invite img {
   	display: block;
   	width: 250px;
   }
   
   .ysf-online-invite .text {
   	position: absolute;
   	top: -11px;
   	left: 0;
   	right: 0;
   	overflow: hidden;
   	margin: 36px 20px 0 67px;
   	line-height: 140%;
   	color: #526069;
   	font-size: 14px;
   	font-family: "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
   	text-align: left;
   	white-space: normal;
   	word-wrap: break-word;
   }
   
   .ysf-online-invite .close {
   	position: absolute;
   	top: -6px;
   	right: -6px;
   	width: 32px;
   	height: 32px;
   	background: url(https://qiyukf.com/sdk/res/img/invite-close.png) no-repeat;
   	cursor: pointer;
   }
   
   .index .swiper-box .swiper-slide .at-title-box .at-subtitle,
   .index .swiper-box .swiper-slide .at-title-box .at-title,
   .index .swiper-box .swiper-slide .at-title-box .hot-title {
   	word-break: keep-all;
   	white-space: nowrap;
   	overflow: hidden;
   	text-overflow: ellipsis
   }
   
   @keyframes admission {
   	0% {
   		-webkit-transform: translateX(100%);
   		transform: translateX(100%);
   		opacity: 0
   	}
   	to {
   		-webkit-transform: translateX(0);
   		transform: translateX(0);
   		opacity: 1
   	}
   }
   
   @-webkit-keyframes admission {
   	0% {
   		-webkit-transform: translateX(100%);
   		opacity: 0
   	}
   	to {
   		-webkit-transform: translateX(0);
   		opacity: 1
   	}
   }
   
   @keyframes admissionOut {
   	0% {
   		opacity: 0
   	}
   	to {
   		opacity: 1
   	}
   }
   
   @-webkit-keyframes admissionOut {
   	0% {
   		opacity: 0
   	}
   	to {
   		opacity: 1
   	}
   }
   
   @keyframes admissionDown {
   	0% {
   		-webkit-transform: translateY(-100%);
   		transform: translateY(-100%);
   		opacity: 0
   	}
   	to {
   		-moz-transform: translateY(0);
   		opacity: 1
   	}
   }
   
   @-webkit-keyframes admissionDown {
   	0% {
   		-webkit-transform: translateY(-100%);
   		opacity: 0
   	}
   	to {
   		-webkit-transform: translateY(0);
   		opacity: 1
   	}
   }
   
   @keyframes admissionUp {
   	0% {
   		-webkit-transform: translateY(100%);
   		transform: translateY(100%);
   		opacity: 0
   	}
   	to {
   		-moz-transform: translateY(0);
   		opacity: 1
   	}
   }
   
   @-webkit-keyframes admissionUp {
   	0% {
   		-webkit-transform: translateY(100%);
   		opacity: 0
   	}
   	to {
   		-webkit-transform: translateY(0);
   		opacity: 1
   	}
   }
   
   @keyframes rotate {
   	0% {
   		-webkit-transform: rotate(0deg);
   		transform: rotate(0deg)
   	}
   	to {
   		-webkit-transform: rotate(180deg);
   		transform: rotate(180deg)
   	}
   }
   
   @-webkit-keyframes rotate {
   	0% {
   		-webkit-transform: rotate(0deg)
   	}
   	to {
   		-webkit-transform: rotate(180deg)
   	}
   }
   
   .index {
   	margin-top: 7.5rem;
   	padding-bottom: 4.5rem
   }
   
   .index .top-nav {
   	width: 100%;
   	background: #f9f9f9;
   	padding: 0 1.5rem;
   	position: fixed;
   	top: 4.5rem;
   	z-index: 10;
   	left: 0
   }
   
   .index .top-nav ul li {
   	width: 20%;
   	float: left;
   	color: rgba(0, 0, 0, .3);
   	height: 3.5rem;
   	line-height: 3.5rem;
   	font-size: 1.4rem
   }
   
   .index .top-nav ul li span.active {
   	color: #000;
   	font-family: PingFangSC-Semibold;
   	padding: .9rem .2rem;
   	border-bottom: 2px solid #000
   }
   
   .index .hot-box .sort {
   	margin-bottom: 2rem;
   	padding: 0 1.5rem
   }
   
   .index .hot-box .sort ul li {
   	width: 20%;
   	padding-top: 4rem;
   	float: left;
   	background-size: 3.3rem;
   	background-position: 50% 25%;
   	background-repeat: no-repeat
   }
   
   .index .hot-box .sort ul li>div:first-of-type {
   	font-size: 1.1rem;
   	opacity: .6;
   	-moz-opacity: .6;
   	-webkit-opacity: .6;
   	filter: alpha(opacity=60)
   }
   
   .index .hot-box .sort ul li:nth-last-of-type {
   	background-image: url("https://cdn.leoao.com/leoao-coach-mall.png")
   }
   
   .index .swiper-container {
   	z-index: 0
   }
   
   .index .swiper-box {
   	overflow: hidden
   }
   
   .index .swiper-box .swiper-slide {
   	padding-right: 1rem
   }
   
   .index .swiper-box .swiper-slide:first-of-type {
   	margin-left: 1.5rem
   }
   
   .index .swiper-box .swiper-slide img {
   	display: block;
   	width: 100%
   }
   
   .index .swiper-box .swiper-slide .hot-img {
   	height: 15rem
   }
   
   .index .swiper-box .swiper-slide .at-title-box {
   	padding: 1rem 0 1.5rem
   }
   
   .index .swiper-box .swiper-slide .at-title-box .at-title {
   	font-size: 1.5rem;
   	color: rgba(0, 0, 0, .8);
   	font-family: PingFangSC-Medium
   }
   
   .index .swiper-box .swiper-slide .at-title-box .at-subtitle {
   	font-size: 1.1rem;
   	color: rgba(0, 0, 0, .3)
   }
   
   .index .swiper-box .swiper-slide .at-title-box .hot-title {
   	font-size: 1.4rem;
   	font-family: PingFangSC-Semibold
   }
   
   .index .swiper-box .swiper-slide .at-title-box .stars span {
   	width: .8rem;
   	height: .8rem;
   	background-size: .8rem
   }
   
   .index .swiper-title {
   	padding: 1rem 0
   }
   
   .index .suspension {
   	width: 100%;
   	background: #fff;
   	position: fixed;
   	left: 0;
   	top: 4.5rem;
   	z-index: 1000;
   	border-bottom: 1px solid #f2f2f2
   }
   
   .index .mask {
   	top: 8.5rem
   }
   
   .index .city-mask {
   	top: 0;
   	background: #f9f9f9
   }
   
   .index .title {
   	font-size: 1.8rem;
   	padding-bottom: 1.5rem;
   	padding-top: 2.5rem;
   	font-family: PingFangSC-Medium
   }
   
   .coach-list .right .advantage,
   .coach-list .right .coach-name {
   	word-break: keep-all;
   	white-space: nowrap;
   	overflow: hidden;
   	text-overflow: ellipsis
   }
   
   @keyframes admission {
   	0% {
   		-webkit-transform: translateX(100%);
   		transform: translateX(100%);
   		opacity: 0
   	}
   	to {
   		-webkit-transform: translateX(0);
   		transform: translateX(0);
   		opacity: 1
   	}
   }
   
   @-webkit-keyframes admission {
   	0% {
   		-webkit-transform: translateX(100%);
   		opacity: 0
   	}
   	to {
   		-webkit-transform: translateX(0);
   		opacity: 1
   	}
   }
   
   @keyframes admissionOut {
   	0% {
   		opacity: 0
   	}
   	to {
   		opacity: 1
   	}
   }
   
   @-webkit-keyframes admissionOut {
   	0% {
   		opacity: 0
   	}
   	to {
   		opacity: 1
   	}
   }
   
   @keyframes admissionDown {
   	0% {
   		-webkit-transform: translateY(-100%);
   		transform: translateY(-100%);
   		opacity: 0
   	}
   	to {
   		-moz-transform: translateY(0);
   		opacity: 1
   	}
   }
   
   @-webkit-keyframes admissionDown {
   	0% {
   		-webkit-transform: translateY(-100%);
   		opacity: 0
   	}
   	to {
   		-webkit-transform: translateY(0);
   		opacity: 1
   	}
   }
   
   @keyframes admissionUp {
   	0% {
   		-webkit-transform: translateY(100%);
   		transform: translateY(100%);
   		opacity: 0
   	}
   	to {
   		-moz-transform: translateY(0);
   		opacity: 1
   	}
   }
   
   @-webkit-keyframes admissionUp {
   	0% {
   		-webkit-transform: translateY(100%);
   		opacity: 0
   	}
   	to {
   		-webkit-transform: translateY(0);
   		opacity: 1
   	}
   }
   
   @keyframes rotate {
   	0% {
   		-webkit-transform: rotate(0deg);
   		transform: rotate(0deg)
   	}
   	to {
   		-webkit-transform: rotate(180deg);
   		transform: rotate(180deg)
   	}
   }
   
   @-webkit-keyframes rotate {
   	0% {
   		-webkit-transform: rotate(0deg)
   	}
   	to {
   		-webkit-transform: rotate(180deg)
   	}
   }
   
   .coach-list {
   	padding: 1.5rem 0;
   	margin: 0 1.5rem;
   	border-bottom: 1px solid #f2f2f2
   }
   
   .coach-list:last-of-type {
   	border: none
   }
   
   .coach-list .left {
   	width: 23%;
   	/*height:100%;*/
   	position: relative
   }
   
   .coach-list .left img {
   	width: 6rem;
   	height: 6rem;
   	border-radius: 50%;
   	-webkit-border-radius: 50%;
   	-moz-border-radius: 50%
   }
   
   .coach-list .left .hot {
   	width: 1.5rem;
   	height: 1.5rem;
   	position: absolute;
   	top: 4.5rem;
   	left: 4.5rem
   }
   
   .coach-list .right {
   	width: 70%; margin-left: 1rem;
   }
   
   .coach-list .right .coach-name {
   	width: 60%;
   	float: left;
   	font-size: 1.8rem;
   	line-height: 2.4rem;
   	font-family: PingFangSC-Semibold
   }
   
   .coach-list .right .price {
   	width: 40%;
   	float: left;
   	line-height: 2.4rem
   }
   
   .coach-list .right .advantage {
   	border-bottom: 1px solid #f2f2f2;
   	padding-bottom: 1rem;
   	font-size: 1.2rem;
   	opacity: .8;
   	-moz-opacity: .8;
   	-webkit-opacity: .8;
   	filter: alpha(opacity=80)
   }
   
   .coach-list .right .certificate {
   	padding-top: .5rem
   }
   
   .coach-list .right .certificate .tap {
   	margin-top: .5rem;
   	margin-right: 1rem
   }
   
   .coach-list .no-certification .advantage {
   	border: none;
   	padding-bottom: 0
   }
   
   .space .left ul li,
   .space .right ul li {
   	word-break: keep-all;
   	white-space: nowrap;
   	overflow: hidden;
   	text-overflow: ellipsis
   }
   
   @keyframes admission {
   	0% {
   		-webkit-transform: translateX(100%);
   		transform: translateX(100%);
   		opacity: 0
   	}
   	to {
   		-webkit-transform: translateX(0);
   		transform: translateX(0);
   		opacity: 1
   	}
   }
   
   @-webkit-keyframes admission {
   	0% {
   		-webkit-transform: translateX(100%);
   		opacity: 0
   	}
   	to {
   		-webkit-transform: translateX(0);
   		opacity: 1
   	}
   }
   
   @keyframes admissionOut {
   	0% {
   		opacity: 0
   	}
   	to {
   		opacity: 1
   	}
   }
   
   @-webkit-keyframes admissionOut {
   	0% {
   		opacity: 0
   	}
   	to {
   		opacity: 1
   	}
   }
   
   @keyframes admissionDown {
   	0% {
   		-webkit-transform: translateY(-100%);
   		transform: translateY(-100%);
   		opacity: 0
   	}
   	to {
   		-moz-transform: translateY(0);
   		opacity: 1
   	}
   }
   
   @-webkit-keyframes admissionDown {
   	0% {
   		-webkit-transform: translateY(-100%);
   		opacity: 0
   	}
   	to {
   		-webkit-transform: translateY(0);
   		opacity: 1
   	}
   }
   
   @keyframes admissionUp {
   	0% {
   		-webkit-transform: translateY(100%);
   		transform: translateY(100%);
   		opacity: 0
   	}
   	to {
   		-moz-transform: translateY(0);
   		opacity: 1
   	}
   }
   
   @-webkit-keyframes admissionUp {
   	0% {
   		-webkit-transform: translateY(100%);
   		opacity: 0
   	}
   	to {
   		-webkit-transform: translateY(0);
   		opacity: 1
   	}
   }
   
   @keyframes rotate {
   	0% {
   		-webkit-transform: rotate(0deg);
   		transform: rotate(0deg)
   	}
   	to {
   		-webkit-transform: rotate(180deg);
   		transform: rotate(180deg)
   	}
   }
   
   @-webkit-keyframes rotate {
   	0% {
   		-webkit-transform: rotate(0deg)
   	}
   	to {
   		-webkit-transform: rotate(180deg)
   	}
   }
   
   .space {
   	font-size: 1.4rem;
   	background: #f9f9f9;
   	height: 25rem
   }
   
   .space .left {
   	width: 33.6%;
   	background: #fff;
   	max-height: 25rem;
   	overflow-y: auto
   }
   
   .space .left>ul>.active {
   	color: #FF0000;
   	opacity: 1;
   	-moz-opacity: 1;
   	-webkit-opacity: 1;
   	filter: alpha(opacity=100)
   }
   
   .space .right {
   	width: 66.4%;
   	height: 100%;
   	overflow: auto
   }
   
   .space .right>ul li .taps {
   	position: absolute;
   	right: 1rem;
   	top: 1rem;
   	display: block;
   	width: 2rem;
   	height: 2rem;
   	line-height: 2rem;
   	background: #aaa;
   	font-size: 1.2rem;
   	opacity: .6;
   	-moz-opacity: .6;
   	-webkit-opacity: .6;
   	filter: alpha(opacity=60);
   	border-radius: 50%;
   	-webkit-border-radius: 50%;
   	-moz-border-radius: 50%
   }
   
   .space .right>ul li.active {
   	color: #fff;
   	background: #FF0000
   }
   
   .space .right>ul li.active,
   .space .right>ul li.active .taps {
   	opacity: 1;
   	-moz-opacity: 1;
   	-webkit-opacity: 1;
   	filter: alpha(opacity=100)
   }
   
   .space .right>ul li.active .taps {
   	background: #fff;
   	color: #FF0000
   }
   
   .space .left ul,
   .space .right ul {
   	opacity: .8;
   	-moz-opacity: .8;
   	-webkit-opacity: .8;
   	filter: alpha(opacity=80)
   }
   
   .space .left ul li,
   .space .right ul li {
   	position: relative;
   	height: 4rem;
   	line-height: 4rem;
   	padding-left: 1.5rem;
   	border-bottom: 1px solid #f2f2f2
   }
   
   .search-price {
   	animation: admissionDown .4s;
   	-moz-animation: admissionDown .4s;
   	-webkit-animation: admissionDown .4s;
   	-o-animation: admissionDown .4s
   }
   
   @keyframes admission {
   	0% {
   		-webkit-transform: translateX(100%);
   		transform: translateX(100%);
   		opacity: 0
   	}
   	to {
   		-webkit-transform: translateX(0);
   		transform: translateX(0);
   		opacity: 1
   	}
   }
   
   @-webkit-keyframes admission {
   	0% {
   		-webkit-transform: translateX(100%);
   		opacity: 0
   	}
   	to {
   		-webkit-transform: translateX(0);
   		opacity: 1
   	}
   }
   
   @keyframes admissionOut {
   	0% {
   		opacity: 0
   	}
   	to {
   		opacity: 1
   	}
   }
   
   @-webkit-keyframes admissionOut {
   	0% {
   		opacity: 0
   	}
   	to {
   		opacity: 1
   	}
   }
   
   @keyframes admissionDown {
   	0% {
   		-webkit-transform: translateY(-100%);
   		transform: translateY(-100%);
   		opacity: 0
   	}
   	to {
   		-moz-transform: translateY(0);
   		opacity: 1
   	}
   }
   
   @-webkit-keyframes admissionDown {
   	0% {
   		-webkit-transform: translateY(-100%);
   		opacity: 0
   	}
   	to {
   		-webkit-transform: translateY(0);
   		opacity: 1
   	}
   }
   
   @keyframes admissionUp {
   	0% {
   		-webkit-transform: translateY(100%);
   		transform: translateY(100%);
   		opacity: 0
   	}
   	to {
   		-moz-transform: translateY(0);
   		opacity: 1
   	}
   }
   
   @-webkit-keyframes admissionUp {
   	0% {
   		-webkit-transform: translateY(100%);
   		opacity: 0
   	}
   	to {
   		-webkit-transform: translateY(0);
   		opacity: 1
   	}
   }
   
   @keyframes rotate {
   	0% {
   		-webkit-transform: rotate(0deg);
   		transform: rotate(0deg)
   	}
   	to {
   		-webkit-transform: rotate(180deg);
   		transform: rotate(180deg)
   	}
   }
   
   @-webkit-keyframes rotate {
   	0% {
   		-webkit-transform: rotate(0deg)
   	}
   	to {
   		-webkit-transform: rotate(180deg)
   	}
   }
   
   .search-price {
   	background: #fff;
   	padding-bottom: 0
   }
   
   .search-price .price-box {
   	padding: 1.5rem
   }
   
   .search-price .price-box>.price-list {
   	width: 31%;
   	height: 3rem;
   	line-height: 3rem;
   	float: left;
   	margin-right: 3.5%;
   	margin-bottom: 1rem;
   	border: 1px solid rgba(0, 0, 0, .1);
   	border-radius: .2rem;
   	font-size: 1.1rem;
   	color: rgba(0, 0, 0, .8)
   }
   
   .search-price .price-box>.price-list:nth-of-type(3n) {
   	margin-right: 0
   }
   
   .search-price .price-box>.price-list.active {
   	color: #fff;
   	background: #FF0000
   }
   
   .search-price .price-box>.price-input {
   	padding-top: 1rem;
   	clear: both;
   	text-align: left
   }
   
   .search-price .price-box>.price-input>input {
   	border: 1px solid rgba(0, 0, 0, .1);
   	height: 3rem;
   	border-radius: .2rem;
   	outline: none;
   	width: 31%;
   	color: rgba(0, 0, 0, .8);
   	-webkit-appearance: none
   }
   
   .search-price .bottom {
   	margin-top: 1.5rem
   }
   
   .search-price .bottom .left,
   .search-price .bottom .right {
   	font-size: 1.1rem;
   	height: 3.9rem;
   	line-height: 3.9rem
   }
   
   .search-price .bottom .left {
   	border: 1px solid #f2f2f2;
   	opacity: .8;
   	-moz-opacity: .8;
   	-webkit-opacity: .8;
   	filter: alpha(opacity=80)
   }
   
   .search-price .bottom .right {
   	color: #fff;
   	background: #FF0000
   }
   
   @keyframes admission {
   	0% {
   		-webkit-transform: translateX(100%);
   		transform: translateX(100%);
   		opacity: 0
   	}
   	to {
   		-webkit-transform: translateX(0);
   		transform: translateX(0);
   		opacity: 1
   	}
   }
   
   @-webkit-keyframes admission {
   	0% {
   		-webkit-transform: translateX(100%);
   		opacity: 0
   	}
   	to {
   		-webkit-transform: translateX(0);
   		opacity: 1
   	}
   }
   
   @keyframes admissionOut {
   	0% {
   		opacity: 0
   	}
   	to {
   		opacity: 1
   	}
   }
   
   @-webkit-keyframes admissionOut {
   	0% {
   		opacity: 0
   	}
   	to {
   		opacity: 1
   	}
   }
   
   @keyframes admissionDown {
   	0% {
   		-webkit-transform: translateY(-100%);
   		transform: translateY(-100%);
   		opacity: 0
   	}
   	to {
   		-moz-transform: translateY(0);
   		opacity: 1
   	}
   }
   
   @-webkit-keyframes admissionDown {
   	0% {
   		-webkit-transform: translateY(-100%);
   		opacity: 0
   	}
   	to {
   		-webkit-transform: translateY(0);
   		opacity: 1
   	}
   }
   
   @keyframes admissionUp {
   	0% {
   		-webkit-transform: translateY(100%);
   		transform: translateY(100%);
   		opacity: 0
   	}
   	to {
   		-moz-transform: translateY(0);
   		opacity: 1
   	}
   }
   
   @-webkit-keyframes admissionUp {
   	0% {
   		-webkit-transform: translateY(100%);
   		opacity: 0
   	}
   	to {
   		-webkit-transform: translateY(0);
   		opacity: 1
   	}
   }
   
   @keyframes rotate {
   	0% {
   		-webkit-transform: rotate(0deg);
   		transform: rotate(0deg)
   	}
   	to {
   		-webkit-transform: rotate(180deg);
   		transform: rotate(180deg)
   	}
   }
   
   @-webkit-keyframes rotate {
   	0% {
   		-webkit-transform: rotate(0deg)
   	}
   	to {
   		-webkit-transform: rotate(180deg)
   	}
   }
   
   .search-sort {
   	background: #fff
   }
   
   .search-sort ul li {
   	height: 4rem;
   	line-height: 4rem;
   	border-bottom: 1px solid #f2f2f2;
   	opacity: .8;
   	-moz-opacity: .8;
   	-webkit-opacity: .8;
   	filter: alpha(opacity=80)
   }
   
   .search-sort ul li.active {
   	color: #fff;
   	background: #FF0000;
   	opacity: 1;
   	-moz-opacity: 1;
   	-webkit-opacity: 1;
   	filter: alpha(opacity=100)
   }
   
   @keyframes admission {
   	0% {
   		-webkit-transform: translateX(100%);
   		transform: translateX(100%);
   		opacity: 0
   	}
   	to {
   		-webkit-transform: translateX(0);
   		transform: translateX(0);
   		opacity: 1
   	}
   }
   
   @-webkit-keyframes admission {
   	0% {
   		-webkit-transform: translateX(100%);
   		opacity: 0
   	}
   	to {
   		-webkit-transform: translateX(0);
   		opacity: 1
   	}
   }
   
   @keyframes admissionOut {
   	0% {
   		opacity: 0
   	}
   	to {
   		opacity: 1
   	}
   }
   
   @-webkit-keyframes admissionOut {
   	0% {
   		opacity: 0
   	}
   	to {
   		opacity: 1
   	}
   }
   
   @keyframes admissionDown {
   	0% {
   		-webkit-transform: translateY(-100%);
   		transform: translateY(-100%);
   		opacity: 0
   	}
   	to {
   		-moz-transform: translateY(0);
   		opacity: 1
   	}
   }
   
   @-webkit-keyframes admissionDown {
   	0% {
   		-webkit-transform: translateY(-100%);
   		opacity: 0
   	}
   	to {
   		-webkit-transform: translateY(0);
   		opacity: 1
   	}
   }
   
   @keyframes admissionUp {
   	0% {
   		-webkit-transform: translateY(100%);
   		transform: translateY(100%);
   		opacity: 0
   	}
   	to {
   		-moz-transform: translateY(0);
   		opacity: 1
   	}
   }
   
   @-webkit-keyframes admissionUp {
   	0% {
   		-webkit-transform: translateY(100%);
   		opacity: 0
   	}
   	to {
   		-webkit-transform: translateY(0);
   		opacity: 1
   	}
   }
   
   @keyframes rotate {
   	0% {
   		-webkit-transform: rotate(0deg);
   		transform: rotate(0deg)
   	}
   	to {
   		-webkit-transform: rotate(180deg);
   		transform: rotate(180deg)
   	}
   }
   
   @-webkit-keyframes rotate {
   	0% {
   		-webkit-transform: rotate(0deg)
   	}
   	to {
   		-webkit-transform: rotate(180deg)
   	}
   }
   
   .search-select {
   	background: #fff
   }
   
   .search-select .sub-title {
   	padding-left: 1.5rem;
   	padding-top: 1.6rem;
   	font-size: 1.1rem
   }
   
   .search-select .tap-box {
   	padding: 0 1.5rem
   }
   
   .search-select .tap-box .tap-list {
   	margin-top: .5rem;
   	text-align: center;
   	float: left;
   	width: 22%;
   	height: 3rem;
   	line-height: 3rem;
   	border: 1px solid rgba(0, 0, 0, .1);
   	border-radius: .3rem;
   	margin-right: 2.6%;
   	font-size: 1.1rem;
   	color: rgba(0, 0, 0, .8)
   }
   
   .search-select .tap-box .tap-list.active {
   	background: #FF0000;
   	color: #fff;
   	border: 1px solid #FF0000
   }
   
   .search-select .tap-box>.label-box {
   	float: left;
   	display: inline-block;
   	min-width: 22%;
   	margin-right: 2.6%
   }
   
   .search-select .tap-box>.label-box>label {
   	display: block;
   	margin-top: .5rem;
   	text-align: center;
   	padding: 0 1rem;
   	height: 3rem;
   	line-height: 3rem;
   	border: 1px solid rgba(0, 0, 0, .1);
   	border-radius: .3rem;
   	font-size: 1.1rem;
   	color: rgba(0, 0, 0, .8)
   }
   
   .search-select .tap-box>.label-box>input {
   	display: none
   }
   
   .search-select .tap-box>.label-box input:checked~label {
   	background: #FF0000;
   	color: #fff;
   	border: 1px solid #FF0000
   }
   
   .search-select .bottom {
   	margin-top: 1.5rem
   }
   
   .search-select .bottom .left,
   .search-select .bottom .right {
   	font-size: 1.1rem;
   	height: 3.9rem;
   	line-height: 3.9rem
   }
   
   .search-select .bottom .left {
   	border: 1px solid #f2f2f2;
   	opacity: .8;
   	-moz-opacity: .8;
   	-webkit-opacity: .8;
   	filter: alpha(opacity=80)
   }
   
   .search-select .bottom .right {
   	color: #fff;
   	background: #FF0000
   }
   
   .leoao-city {
   	animation: admissionUp .4s;
   	-moz-animation: admissionUp .4s;
   	-webkit-animation: admissionUp .4s;
   	-o-animation: admissionUp .4s
   }
   
   @keyframes admission {
   	0% {
   		-webkit-transform: translateX(100%);
   		transform: translateX(100%);
   		opacity: 0
   	}
   	to {
   		-webkit-transform: translateX(0);
   		transform: translateX(0);
   		opacity: 1
   	}
   }
   
   @-webkit-keyframes admission {
   	0% {
   		-webkit-transform: translateX(100%);
   		opacity: 0
   	}
   	to {
   		-webkit-transform: translateX(0);
   		opacity: 1
   	}
   }
   
   @keyframes admissionOut {
   	0% {
   		opacity: 0
   	}
   	to {
   		opacity: 1
   	}
   }
   
   @-webkit-keyframes admissionOut {
   	0% {
   		opacity: 0
   	}
   	to {
   		opacity: 1
   	}
   }
   
   @keyframes admissionDown {
   	0% {
   		-webkit-transform: translateY(-100%);
   		transform: translateY(-100%);
   		opacity: 0
   	}
   	to {
   		-moz-transform: translateY(0);
   		opacity: 1
   	}
   }
   
   @-webkit-keyframes admissionDown {
   	0% {
   		-webkit-transform: translateY(-100%);
   		opacity: 0
   	}
   	to {
   		-webkit-transform: translateY(0);
   		opacity: 1
   	}
   }
   
   @keyframes admissionUp {
   	0% {
   		-webkit-transform: translateY(100%);
   		transform: translateY(100%);
   		opacity: 0
   	}
   	to {
   		-moz-transform: translateY(0);
   		opacity: 1
   	}
   }
   
   @-webkit-keyframes admissionUp {
   	0% {
   		-webkit-transform: translateY(100%);
   		opacity: 0
   	}
   	to {
   		-webkit-transform: translateY(0);
   		opacity: 1
   	}
   }
   
   @keyframes rotate {
   	0% {
   		-webkit-transform: rotate(0deg);
   		transform: rotate(0deg)
   	}
   	to {
   		-webkit-transform: rotate(180deg);
   		transform: rotate(180deg)
   	}
   }
   
   @-webkit-keyframes rotate {
   	0% {
   		-webkit-transform: rotate(0deg)
   	}
   	to {
   		-webkit-transform: rotate(180deg)
   	}
   }
   
   .leoao-city {
   	padding: 2.5rem 2.5rem 0
   }
   
   .leoao-city .city-text {
   	font-size: 2.6rem;
   	position: relative;
   	font-family: PingFangSC-Semibold
   }
   
   .leoao-city .city-text img {
   	width: 1.5rem;
   	position: absolute;
   	right: 0;
   	top: 1rem
   }
   
   .leoao-city .city-box {
   	margin-top: 1rem
   }
   
   .leoao-city .city-box .city {
   	height: 5rem;
   	line-height: 5rem;
   	font-size: 1.4rem;
   	border-bottom: 1px solid #f2f2f2
   }
   
   .leoao-city .city-box .city.active {
   	color: #FF0000
   }