
@font-face {
	font-family: DIN-Bold;
}
html {
	font-size: 12px
}

body {
	font-size: 12px
}

@media only screen and (min-width:319px) {
	html {
		font-size: 12px!important
	}
}

@media only screen and (min-width:414px) {
	html {
		font-size: 14px!important
	}
}

@media only screen and (min-width:480px) {
	html {
		font-size: 16px!important
	}
}
.amap-indoor-map .label-canvas {
	position: absolute;
	top: 0;
	left: 0
}

.amap-indoor-map .highlight-image-con * {
	pointer-events: none
}

.amap-indoormap-floorbar-control {
	position: absolute;
	margin: auto 0;
	bottom: 165px;
	right: 12px;
	width: 35px;
	text-align: center;
	line-height: 1.3em;
	overflow: hidden;
	padding: 0 2px
}

.amap-indoormap-floorbar-control .panel-box {
	background-color: rgba(255, 255, 255, .9);
	border-radius: 3px;
	border: 1px solid #ccc
}

.amap-indoormap-floorbar-control .select-dock {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	height: 30px;
	border: solid #4196ff;
	border-width: 0 2px;
	border-radius: 2px;
	pointer-events: none;
	background: linear-gradient(to bottom, #f6f8f9 0, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%)
}

.amap-indoor-map .transition {
	transition: opacity .2s
}

,
.amap-indoormap-floorbar-control .transition {
	transition: top .2s, margin-top .2s
}

.amap-indoormap-floorbar-control .select-dock:after,
.amap-indoormap-floorbar-control .select-dock:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	left: 0;
	top: 10px;
	border: solid transparent;
	border-width: 4px;
	border-left-color: #4196ff
}

.amap-indoormap-floorbar-control .select-dock:after {
	right: 0;
	left: auto;
	border-left-color: transparent;
	border-right-color: #4196ff
}

.amap-indoormap-floorbar-control.is-mobile {
	width: 37px
}

.amap-indoormap-floorbar-control.is-mobile .floor-btn {
	height: 35px;
	line-height: 35px
}

.amap-indoormap-floorbar-control.is-mobile .select-dock {
	height: 35px;
	top: 36px
}

.amap-indoormap-floorbar-control.is-mobile .select-dock:after,
.amap-indoormap-floorbar-control.is-mobile .select-dock:before {
	top: 13px
}

.amap-indoormap-floorbar-control.is-mobile .floor-list-box {
	height: 105px
}

.amap-indoormap-floorbar-control .floor-list-item .floor-btn {
	color: #555;
	font-family: "Times New Roman", sans-serif, "Microsoft Yahei";
	/*font-size: 16px*/
}

.amap-indoormap-floorbar-control .floor-list-item.selected .floor-btn {
	color: #000
}

.amap-indoormap-floorbar-control .floor-btn {
	height: 28px;
	line-height: 28px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.amap-indoormap-floorbar-control .floor-btn:hover {
	background-color: rgba(221, 221, 221, .4)
}

.amap-indoormap-floorbar-control .floor-minus,
.amap-indoormap-floorbar-control .floor-plus {
	position: relative;
	text-indent: -1000em
}

.amap-indoormap-floorbar-control .floor-minus:after,
.amap-indoormap-floorbar-control .floor-plus:after {
	content: "";
	position: absolute;
	margin: auto;
	top: 9px;
	left: 0;
	right: 0;
	width: 0;
	height: 0;
	border: solid transparent;
	border-width: 10px 8px;
	border-top-color: #777
}

.amap-indoormap-floorbar-control .floor-minus.disabled,
.amap-indoormap-floorbar-control .floor-plus.disabled {
	opacity: .3
}

.amap-indoormap-floorbar-control .floor-plus:after {
	border-bottom-color: #777;
	border-top-color: transparent;
	top: -3px
}

.amap-indoormap-floorbar-control .floor-list-box {
	max-height: 153px;
	position: relative;
	overflow-y: hidden
}

.amap-indoormap-floorbar-control .floor-list {
	margin: 0;
	padding: 0;
	list-style: none
}

.amap-indoormap-floorbar-control .floor-list-item {
	position: relative
}

.amap-indoormap-floorbar-control .floor-btn.disabled,
.amap-indoormap-floorbar-control .floor-btn.disabled *,
.amap-indoormap-floorbar-control.with-indrm-loader * {
	-webkit-pointer-events: none!important;
	pointer-events: none!important
}

.amap-indoormap-floorbar-control .with-indrm-loader .floor-nonas {
	opacity: .5
}

.amap-indoor-map-moverf-marker {
	color: #555;
	background-color: #FFFEEF;
	border: 1px solid #7E7E7E;
	padding: 3px 6px;
	/*font-size: 12px;*/
	white-space: nowrap;
	display: inline-block;
	position: absolute;
	top: 1em;
	left: 1.2em
}

.amap-indoormap-floorbar-control .amap-indrm-loader {
	-moz-animation: amap-indrm-loader 1.25s infinite linear;
	-webkit-animation: amap-indrm-loader 1.25s infinite linear;
	animation: amap-indrm-loader 1.25s infinite linear;
	border: 2px solid #91A3D8;
	border-right-color: transparent;
	box-sizing: border-box;
	display: inline-block;
	overflow: hidden;
	text-indent: -9999px;
	width: 13px;
	height: 13px;
	border-radius: 7px;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0
}

@-moz-keyframes amap-indrm-loader {
	0% {
		-moz-transform: rotate(0);
		transform: rotate(0)
	}
	100% {
		-moz-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

@-webkit-keyframes amap-indrm-loader {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0)
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

@keyframes amap-indrm-loader {
	0% {
		-moz-transform: rotate(0);
		-ms-transform: rotate(0);
		-webkit-transform: rotate(0);
		transform: rotate(0)
	}
	100% {
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

#YSF-BTN-HOLDER {
	position: fixed;
	max-width: 30px;
	max-height: 120px;
	right: 30px;
	bottom: 0px;
	cursor: pointer;
	overflow: visible;
	filter: alpha(opacity=100);
	opacity: 1;
	z-index: 9990
}

#YSF-BTN-HOLDER:hover {
	filter: alpha(opacity=95);
	opacity: .95
}

#YSF-BTN-HOLDER img {
	display: block;
	overflow: hidden;
}

#YSF-BTN-CIRCLE {
	display: none;
	position: absolute;
	right: -5px;
	top: -5px;
	width: auto;
	min-width: 12px;
	height: 20px;
	padding: 0 4px;
	background-color: #f00;
	/*font-size: 12px;*/
	line-height: 20px;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	font-family: sans-serif;
	border-radius: 10px;
	z-index: 1;
}

#YSF-BTN-HOLDER.layer-1 #YSF-BTN-CIRCLE {
	top: -30px;
}

#YSF-BTN-HOLDER.layer-2 #YSF-BTN-CIRCLE {
	top: -30px;
}

#YSF-BTN-HOLDER.layer-3 #YSF-BTN-CIRCLE {
	top: -30px;
}

#YSF-BTN-HOLDER.layer-4 #YSF-BTN-CIRCLE {
	top: -30px;
}

#YSF-BTN-HOLDER.layer-5 #YSF-BTN-CIRCLE {
	top: -30px;
}

#YSF-BTN-HOLDER.layer-6 #YSF-BTN-CIRCLE {
	top: -5px;
}

#YSF-BTN-BUBBLE {
	display: none;
	position: absolute;
	left: -274px;
	bottom: 0px;
	width: 278px;
	height: 80px;
	box-sizing: border-box;
	padding: 14px 22px;
	filter: alpha(opacity=100);
	opacity: 1;
	background: url(https://qiyukf.com/sdk//res/img/sdk/bg_floatMsg2x.png) no-repeat;
	background: url(https://qiyukf.com/sdk//res/img/sdk/bg_floatMsg.png)9;
	background-size: 278px 80px;
	z-index: 1;
}

#YSF-BTN-HOLDER.layer-1 #YSF-BTN-BUBBLE {
	bottom: 9px;
}

#YSF-BTN-HOLDER.layer-2 #YSF-BTN-BUBBLE {
	bottom: 9px;
}

#YSF-BTN-HOLDER.layer-3 #YSF-BTN-BUBBLE {
	bottom: 9px;
}

#YSF-BTN-HOLDER.layer-4 #YSF-BTN-BUBBLE {
	bottom: 9px;
}

#YSF-BTN-HOLDER.layer-5 #YSF-BTN-BUBBLE {
	bottom: 9px;
}

#YSF-BTN-HOLDER.layer-6 #YSF-BTN-BUBBLE {
	bottom: -6px;
}

#YSF-BTN-BUBBLE:hover {
	filter: alpha(opacity=95);
	opacity: .95
}

#YSF-BTN-CONTENT {
	height: 45px;
	padding: 0;
	white-space: normal;
	word-break: break-all;
	text-align: left;
	/*font-size: 14px;*/
	line-height: 1.6;
	color: #222;
	overflow: hidden;
	z-index: 0;
}

#YSF-BTN-ARROW {
	display: none;
}

#YSF-BTN-CLOSE {
	position: absolute;
	width: 15px;
	height: 15px;
	right: 4px;
	top: -3px;
	filter: alpha(opacity=90);
	opacity: .9;
	cursor: pointer;
	background: url(https://qiyukf.com/sdk//res/img/sdk/btn-close.png) no-repeat;
	z-index: 1
}

#YSF-BTN-CLOSE:hover {
	filter: alpha(opacity=100);
	opacity: 1;
}

#YSF-PANEL-CORPINFO.ysf-chat-layeropen {
	width: 511px;
	height: 470px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, .15);
}

#YSF-PANEL-CORPINFO {
	position: fixed;
	bottom: 0px;
	right: 20px;
	width: 0;
	height: 0;
	z-index: 99999;
}

#YSF-PANEL-INFO.ysf-chat-layeropen {
	width: 311px;
	height: 470px;
	filter: alpha(opacity=100);
	opacity: 1;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, .15);
}

#YSF-PANEL-INFO {
	position: fixed;
	bottom: 0px;
	right: 20px;
	width: 0px;
	height: 0px;
	filter: alpha(opacity=0);
	opacity: 0;
	z-index: 99999;
}

#YSF-PANEL-INFO .u-btn {
	background-color: #F96868
}

#YSF-CUSTOM-ENTRY {
	background-color: #F96868;
}

#YSF-CUSTOM-ENTRY-0 {
	position: relative;
	bottom: 24px;
	width: auto;
	background-color: #F96868;
	box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.25);
}

#YSF-CUSTOM-ENTRY-1 {
	position: relative;
	bottom: 24px;
	width: auto;
	background-color: #F96868;
	border-radius: 14px;
	box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.25);
}

#YSF-CUSTOM-ENTRY-2 {
	position: relative;
	bottom: 24px;
	width: auto;
	background-color: #F96868;
	border-radius: 0;
	box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.25);
}

#YSF-CUSTOM-ENTRY-3 {
	position: relative;
	bottom: 24px;
	width: auto;
	background-color: #F96868;
	border-radius: 50%;
	box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.25);
}

#YSF-CUSTOM-ENTRY-4 {
	position: relative;
	bottom: 24px;
	width: auto;
	background-color: #F96868;
	border-radius: 50%;
	box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.25);
}

#YSF-CUSTOM-ENTRY-5 {
	position: relative;
	bottom: 24px;
	width: auto;
	background-color: #F96868;
	border-radius: 5px;
	box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.25);
}

#YSF-CUSTOM-ENTRY-6 {
	position: relative;
	bottom: 0px;
	width: auto;
	background-color: #F96868;
	border-radius: 5px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

#YSF-CUSTOM-ENTRY-0 img {
	max-width: 300px;
	height: auto;
}

#YSF-CUSTOM-ENTRY-1 img {
	width: 28px;
	height: auto;
}

#YSF-CUSTOM-ENTRY-2 img {
	width: 58px;
	height: auto;
}

#YSF-CUSTOM-ENTRY-3 img {
	width: 60px;
	height: auto;
}

#YSF-CUSTOM-ENTRY-4 img {
	width: 60px;
	height: auto;
}

#YSF-CUSTOM-ENTRY-5 img {
	width: 60px;
	height: auto;
}

#YSF-CUSTOM-ENTRY-6 img {
	width: 115px;
	height: auto;
}

#YSF-IFRAME-LAYER {
	border: 0;
	outline: none;
}

.ysf-online-invite-mask {
	z-index: 10000;
	position: fixed;
	_position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}

.ysf-online-invite-wrap {
	z-index: 10001;
	position: fixed;
	_position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
}

.ysf-online-invite {
	position: relative;
	top: -50%;
	left: -50%;
	cursor: pointer;
}

.ysf-online-invite img {
	display: block;
	width: 250px;
}

.ysf-online-invite .text {
	position: absolute;
	top: -11px;
	left: 0;
	right: 0;
	overflow: hidden;
	margin: 36px 20px 0 67px;
	line-height: 140%;
	color: #526069;
	/*font-size: 14px;*/
	font-family: "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
	text-align: left;
	white-space: normal;
	word-wrap: break-word;
}

.ysf-online-invite .close {
	position: absolute;
	top: -6px;
	right: -6px;
	width: 32px;
	height: 32px;
	background: url(https://qiyukf.com/sdk/res/img/invite-close.png) no-repeat;
	cursor: pointer;
}

.order-detail {
	padding-bottom: 8.5rem
}

.order-detail .info>div {
	padding: 1.5rem;
	border-bottom: 1px solid #f2f2f2
}

.order-detail .info>div:last-of-type {
	padding: 1.5rem 0;
	margin: 0 1.5rem
}

.order-detail .info>div:first-of-type .left {
	/*font-size: 1.6rem;*/
	font-family: PingFangSC-Semibold
}

.order-detail .info>div:first-of-type .left>span:nth-of-type(1) {
	color: #fa4a11;
	/*font-size: .8rem;*/
	position: relative;
	top: -.2rem
}

.order-detail .info>div:first-of-type .right {
	color: #fa4a11;
	/*font-size: 1.5rem;*/
	font-family: PingFangSC-Medium
}

.order-detail .info>div:nth-of-type(2)>.left {
	width: 24%;
	/*font-size: 1.4rem;*/
	opacity: .8;
	-moz-opacity: .8;
	-webkit-opacity: .8;
	filter: alpha(opacity=80)
}

.order-detail .info>div:nth-of-type(2)>.right {
	width: 76%
}

.order-detail .info>div:nth-of-type(2)>.right .lesson-tap {
	display: inline-block;
	width: 48%;
	line-height: 2rem;
	text-align: center;
	border-radius: .2rem;
	-webkit-border-radius: .2rem;
	-moz-border-radius: .2rem;
	margin-bottom: .5rem
}

.order-detail .info>div:nth-of-type(2)>.right .lesson-tap:nth-of-type(2n) {
	float: right
}

.order-detail .info>div:nth-of-type(2)>.right .tips {
	/*font-size: 1rem;*/
	color: rgba(0, 0, 0, .6)
}

.order-detail .info>div:nth-of-type(2)>.tips {
	margin-left: 24%;
	/*font-size: 1rem;*/
	letter-spacing: -.02rem;
	opacity: .3;
	-moz-opacity: .3;
	-webkit-opacity: .3;
	filter: alpha(opacity=30)
}

.order-detail .info>div:nth-of-type(3) .left {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.order-detail .info>div:nth-of-type(3) .left>span:first-of-type {
	/*font-size: 1.4rem;*/
	opacity: .8;
	-moz-opacity: .8;
	-webkit-opacity: .8;
	filter: alpha(opacity=80)
}

.order-detail .info>div:nth-of-type(3) .left>span:nth-of-type(2) {
	opacity: .3;
	-moz-opacity: .3;
	-webkit-opacity: .3;
	filter: alpha(opacity=30)
}

.order-detail .info>div:nth-of-type(3) .right>span {
	display: block;
	float: right;
	height: 2rem;
	line-height: 2rem
}

.order-detail .info>div:nth-of-type(3) .right>span:first-of-type {
	width: 2rem;
	background: red;
	background-image: url("../../images/leoao-coach-madd.png");
	background-size: 1.2rem;
	background-repeat: no-repeat;
	background-position: 50%;
	background-color: #ececec
}

.order-detail .info>div:nth-of-type(3) .right>span:nth-of-type(2) {
	padding: 0 1rem;
	/*font-size: 1.4rem*/
}

.order-detail .info>div:nth-of-type(3) .right>span:nth-of-type(3) {
	width: 2rem;
	background-image: url("../../images/leoao-coach-mdec2.png");
	background-size: 1.2rem;
	background-repeat: no-repeat;
	background-position: 50%;
	background-color: #ececec
}

.order-detail .info>div:nth-of-type(3) .right>span:nth-of-type(3).disabled {
	background-image: url("../../images/leoao-coach-mdec.png")
}

.order-detail .item-box {
	padding: 0 1.5rem
}

.order-detail .item-box .item-list {
	padding: 1.5rem 1rem 1.5rem 0;
	border-bottom: 1px solid #f2f2f2;
	/*font-size: 1.4rem;*/
	background-image: url("../../images/leoao-coach-mright000.png");
	background-repeat: no-repeat;
	background-size: .3rem;
	background-position: 100%
}

.order-detail .item-box .item-list>span:first-of-type {
	color: rgba(0, 0, 0, .8)
}

.order-detail .item-box .item-list>span:nth-of-type(2) {
	color: rgba(0, 0, 0, .8);
	float: right
}

.order-detail .item-box .item-list>span:nth-of-type(2) .origin {
	color: #fa4a11
}

.order-detail .freshman-msg {
	padding: .5rem 0;
	background: #f9f9f9
}

.order-detail .freshman-msg .msg-list {
	background: #f9f9f9;
	padding-left: 1rem;
	height: 6rem;
	line-height:4rem;
	color: rgba(0, 0, 0, .6)
}

.order-detail .freshman-msg .msg-list .msg-item {
	width: 84%;
	background: #fff;
	height: 6rem;
	padding-left: .5rem
}

.order-detail .freshman-msg .msg-list .msg-item .msg-taps {
	display: inline-block;
	background: #f9f9f9;
	padding: .2rem .6rem;
	color: rgba(0, 0, 0, .6);
	letter-spacing: -.02rem;
	margin-left: .5rem;
	min-width: 4rem;
	line-height: normal;
	text-align: center;
	border-radius: .1rem;
	-webkit-border-radius: .1rem;
	-moz-border-radius: .1rem
}

.order-detail .freshman-msg .msg-list .msg-item .msg-taps.active {
	background: #fa4a11;
	color: #fff
}

.order-detail .order-btn {
	padding: 1.5rem;
	border-top: 1px solid #f2f2f2;
	width: 100%;
	background: #fff;
	position: fixed;
	bottom: 0;
	left: 0
}

.order-detail .order-btn .left {
	height: 4rem;
	text-align: center;
	line-height: 4rem
}

.order-detail .order-btn .left span:nth-of-type(2) {
	/*font-size: 2.4rem;*/
	font-family: DIN-Bold
}

.order-detail .order-btn .left span:nth-of-type(2) i {
	/*font-size: 1.6rem;*/
	font-family: PingFangSC-Semibold
}

.order-detail .order-btn .left span:nth-of-type(3) {
	font-family: PingFangSC-Semibold
}

.order-detail .order-btn .left span:nth-of-type(3) i {
	display: inline-block;
	font-family: DIN-Bold
}

.order-detail .order-btn .left span:nth-of-type(3) i:after {
	content: "";
	display: block;
	height: 1px;
	background: #000;
	position: relative;
	top: -1.9rem;
	left: 0
}

.order-detail .order-btn .right {
	 width: 90%;
	height: 3rem;
	line-height: 3rem;
	text-align: center;
	background: #fa4a11;
	color: #fff;
	font-size: 1rem;
	font-family: PingFangSC-Medium;
	border-radius: .3rem
}

.order-detail .gift-img {
	margin: 2.5rem 1.5rem
}

.order-detail .gift-img img {
	display: block;
	width: 100%
}

.my-coupon {
	animation: admissionUp .4s;
	-moz-animation: admissionUp .4s;
	-webkit-animation: admissionUp .4s;
	-o-animation: admissionUp .4s
}

.my-coupon {
	width: 100%;
	padding: 1.5rem 0 0;
	background: #f2f2f2;
	position: fixed;
	bottom: 0;
	left: 0
}

.my-coupon .coupon-title {
	/*font-size: 1.6rem;*/
	position: relative;
	margin: 0 1.5rem
}

.my-coupon .coupon-title img {
	width: 1.6rem;
	position: absolute;
	right: 0;
	top: .4rem
}

.my-coupon .subtitle {
	/*font-size: 1.3rem;*/
	position: relative;
	opacity: .8;
	-moz-opacity: .8;
	-webkit-opacity: .8;
	filter: alpha(opacity=80);
	padding: 1rem 1.5rem
}

.my-coupon .subtitle .fn-right {
	color: #fa4a11
}

.my-coupon .coupon-box {
	max-height: 26rem;
	padding: 0 1.5rem;
	overflow-y: scroll;
	overflow-x: hidden;
	webkit-overflow-scrolling: touch
}

.my-coupon .coupon-box ul li {
	margin-bottom: .6rem
}

.my-coupon .coupon-box ul li input {
	display: none
}

.my-coupon .coupon-box ul li label {
	display: block;
	background: #fff;
	padding: 1rem 1rem 1.5rem;
	background-image: url("../../images/leoao-coach-muncheck.png");
	background-repeat: no-repeat;
	background-size: 2rem;
	background-position: 98%
}

.my-coupon .coupon-box ul li label .price span:first-of-type {
	/*font-size: 3rem;*/
	color: rgba(250, 74, 17, .8)
}

.my-coupon .coupon-box ul li label .price span:nth-of-type(2) {
	/*font-size: 1.5rem;*/
	padding-left: 1rem;
	color: rgba(250, 74, 17, .6)
}

.my-coupon .coupon-box ul li label .price.useless span {
	color: rgba(250, 74, 17, .3)
}

.my-coupon .coupon-box ul li label .tips {
	/*font-size: 1.1rem;*/
	color: rgba(0, 0, 0, .3)
}

.my-coupon .coupon-box ul li input:checked~label {
	background-image: url("../../images/leoao-coach-mcheck.png")
}

.my-coupon .coupon-box ul li .bottom {
	background: #fafafa;
	padding: .6rem 1rem;
	position: relative
}

.my-coupon .coupon-box ul li .bottom span {
	opacity: .6;
	-moz-opacity: .6;
	-webkit-opacity: .6;
	filter: alpha(opacity=60)
}

.my-coupon .coupon-box ul li .bottom:after,
.my-coupon .coupon-box ul li .bottom:before {
	content: "";
	display: block;
	background: #f2f2f2;
	width: .6rem;
	height: .6rem;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	position: absolute;
	top: -.3rem
}

.my-coupon .coupon-box ul li .bottom:before {
	left: -.3rem
}

.my-coupon .coupon-box ul li .bottom:after {
	right: -.3rem
}

.my-coupon .coupon-tips {
	margin-bottom: 2rem;
	padding: 0 1.5rem;
	color: rgba(0, 0, 0, .3)
}

.activity {
	animation: admissionUp .4s;
	-moz-animation: admissionUp .4s;
	-webkit-animation: admissionUp .4s;
	-o-animation: admissionUp .4s
}

.activity {
	width: 100%;
	padding-top: 1.5rem;
	background: #f2f2f2;
	position: fixed;
	bottom: 0;
	left: 0
}

.activity .coupon-title {
	/*font-size: 1.6rem;*/
	position: relative;
	margin: 0 1.5rem
}

.activity .coupon-title img {
	width: 1.6rem;
	position: absolute;
	right: 0;
	top: .4rem
}

.activity .subtitle {
	/*font-size: 1.3rem;*/
	position: relative;
	color: rgba(0, 0, 0, .8);
	padding: 1rem 1.5rem
}

.activity .activity-box {
	background: #fff;
	padding: 0 1.5rem;
	margin-top: 1.5rem;
	max-height: 22rem;
	overflow: auto
}

.activity .activity-box .activity-list {
	padding: 1.5rem 0;
	border-bottom: 1px solid #f2f2f2;
	background-image: url("../../images/leoao-coach-muncheck.png");
	background-repeat: no-repeat;
	background-size: 2rem;
	background-position: 100%
}

.activity .activity-box .activity-list.active {
	background-image: url("../../images/leoao-coach-mcheck.png")
}

.activity .activity-box .activity-list:last-of-type {
	border-bottom: none
}

.activity .activity-box .activity-list>div:first-of-type {
	/*font-size: 1.6rem*/
}

.activity .activity-box .activity-list>div:nth-of-type(2) {
	/*font-size: 1.1rem;*/
	opacity: .3;
	-moz-opacity: .3;
	-webkit-opacity: .3;
	filter: alpha(opacity=30)
}

.activity .activity-box .activity-list>.useless {
	color: rgba(0, 0, 0, .6)
}

.activity .no-activity {
	padding-left: 1.5rem;
	background: #fff;
	line-height: 4rem;
	color: rgba(0, 0, 0, .3);
	margin-top: 1rem
}

.store-list .select-store-list .top>.right>div:first-of-type>.left,
.store-list .select-store-list .top>.right>div:nth-of-type(3) {
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.store-list {
	animation: admissionUp .4s;
	-moz-animation: admissionUp .4s;
	-webkit-animation: admissionUp .4s;
	-o-animation: admissionUp .4s
}

.store-list {
	width: 100%;
	padding-top: 1.5rem;
	background: #f2f2f2;
	position: fixed;
	bottom: 0;
	left: 0
}

.store-list .coupon-title {
	/*font-size: 1.6rem;*/
	position: relative;
	margin: 0 1.5rem
}

.store-list .coupon-title img {
	width: 1.6rem;
	position: absolute;
	right: 0;
	top: .4rem
}

.store-list .store-list-box {
	background: #fff;
	margin-top: 1.5rem;
	height: 32rem;
	overflow: auto;
	webkit-overflow-scrolling: touch
}

.store-list .select-store-list {
	background: #fff;
	padding: 1.5rem 1.5rem 0
}

.store-list .select-store-list .top {
	padding-left: 18%;
	background-size: 5rem 5rem;
	background-repeat: no-repeat;
	background-position: 0 .6rem;
	position: relative
}

.store-list .select-store-list .top div.one {
	height: 3rem;
	width: 3rem;
	background-size: 3rem;
	background-repeat: no-repeat;
	background-position: 0;
	background-image: url("../../images/leoao-coach-mgx.png")!important;
	position: absolute;
	left: 0;
	top: .6rem
}

.store-list .select-store-list .top>.right {
	width: 100%;
	padding-right: 2.5rem;
	background-image: url("../../images/leoao-coach-muncheck.png");
	background-size: 2rem;
	background-repeat: no-repeat;
	background-position: 100%
}

.store-list .select-store-list .top>.right.active {
	background-image: url("../../images/leoao-coach-mcheck.png")
}

.store-list .select-store-list .top>.right>div:first-of-type {
	/*font-size: 1.6rem*/
}

.store-list .select-store-list .top>.right>div:first-of-type>.left {
	width: 60%
}

.store-list .select-store-list .top>.right>div:first-of-type>.left .position {
	display: inline-block;
	width: 1.5rem;
	height: 1.2rem;
	background-image: url("../../images/tomap.png");
	background-size: 1.2rem;
	background-repeat: no-repeat
}

.store-list .select-store-list .top>.right>div:first-of-type>.right {
	width: 40%;
	line-height: 2rem
}

.store-list .select-store-list .top>.right>div:first-of-type>.right span.two {
	padding-top: .3rem;
	/*font-size: 1.2rem;*/
	float: right
}

.store-list .select-store-list .top>.right>div:nth-of-type(2),
.store-list .select-store-list .top>.right>div:nth-of-type(3) {
	margin-top: .2rem;
	/*font-size: 1.1rem;*/
	line-height: 1.4rem;
	padding-left: 1.6rem;
	color: rgba(0, 0, 0, .6);
	background-repeat: no-repeat;
	background-size: 1.2rem;
	background-position: 0 .1rem
}

.store-list .select-store-list .top>.right>div:nth-of-type(2) {
	background-image: url("../../images/leoao-coach-mposition2.png")
}

.store-list .select-store-list .top>.right>div:nth-of-type(3) {
	background-image: url("../../images/leoao-coach-mfz.png")
}

.store-list .select-store-list .bottom {
	padding-left: 22%;
	padding-bottom: 1rem;
	border-bottom: 1px solid #f2f2f2
}

.store-list .select-store-list .bottom>div:first-of-type {
	/*font-size: 1.1rem;*/
	color: #fa4a11;
	border-top: 1px solid #f2f2f2;
	margin-top: .5rem;
	padding-top: 1rem
}

.store-list .select-store-list:last-of-type .bottom {
	border: none
}

.store-list .no-stores {
	color: rgba(0, 0, 0, .6);
	line-height: 4.5rem;
	background: #fff
}

.store-list .isDetail>.top>.right {
	background: none;
	padding-right: 0
}

.store-list .isDetail>.top>.right.active {
	background: none
}

.select-store-list2 .top>.right>div:first-of-type>.left,
.select-store-list2 .top>.right>div:nth-of-type(3) {
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.select-store .selector {
	background: #fff;
	margin-bottom: .5rem
}

.select-store .selector>div {
	width: 50%;
	position: relative
}

.select-store .selector>div i {
	display: inline-block;
	width: 0;
	height: 0;
	border: .3rem solid transparent;
	border-left-color: #333;
	vertical-align: middle;
	margin-left: .3rem
}

.store-list-box2 {
	width: 100%;
	position: fixed;
	top: 4.5rem;
	bottom: 0;
	overflow-y: auto;
	webkit-overflow-scrolling: touch
}

.select-store-list2 {
	background: #fff;
	padding: 0.5rem 0.5rem 0
}

.select-store-list2 .top {
	padding-left: 24%;
	background-size: 5rem 5rem;
	background-repeat: no-repeat;
	background-position: 0 .6rem;
	position: relative
}

.select-store-list2 .top div.one {
	height: 3rem;
	width: 3rem;
	background-size: 3rem;
	background-repeat: no-repeat;
	background-position: 0;
	background-image: url("../../images/leoao-coach-mgx.png")!important;
	position: absolute;
	left: 0;
	top: .6rem
}

.select-store-list2 .top>.right {
	width: 79%;
	padding-right: 2.5rem;
	background-image: url("../../images/leoao-coach-muncheck.png");
	background-size: 2rem;
	background-repeat: no-repeat;
	background-position: 100%
}

.select-store-list2 .top>.right.active {
	background-image: url("../../images/leoao-coach-mcheck.png")
}

.select-store-list2 .top>.right>div:first-of-type {
	/*font-size: 1.6rem*/
}

.select-store-list2 .top>.right>div:first-of-type>.left {
	width: 60%
}

.select-store-list2 .top>.right>div:first-of-type>.left .position {
	display: inline-block;
	width: 1.5rem;
	height: 1.2rem;
	background-image: url("../../images/tomap.png");
	background-size: 1.2rem;
	background-repeat: no-repeat
}

.select-store-list2 .top>.right>div:first-of-type>.right {
	width: 40%;
	line-height: 2rem
}

.select-store-list2 .top>.right>div:first-of-type>.right span.two {
	padding-top: .3rem;
	/*font-size: 1.2rem;*/
	float: right
}

.select-store-list2 .top>.right>div:nth-of-type(2),
.select-store-list2 .top>.right>div:nth-of-type(3) {
	margin-top: .6rem;
	/*font-size: 1.1rem;*/
	line-height: 1.4rem;
	padding-left: 1.6rem;
	color: rgba(0, 0, 0, .6);
	background-repeat: no-repeat;
	background-size: 1.2rem;
	background-position: 0 .1rem
}

.select-store-list2 .top>.right>div:nth-of-type(2) {
	background-image: url("../../images/leoao-coach-mposition2.png")
}

.select-store-list2 .top>.right>div:nth-of-type(3) {
	background-image: url("../../images/leoao-coach-mimages/fz.png")
}

.select-store-list2 .bottom {
	padding-left: 22%;
	padding-bottom: 1rem;
	border-bottom: 1px solid #f2f2f2
}

.select-store-list2 .bottom>div:first-of-type {
	/*font-size: 1.1rem;*/
	color: #fa4a11;
	border-top: 1px solid #f2f2f2;
	margin-top: .5rem;
	padding-top: 1rem
}

.select-store-list2:last-of-type .bottom {
	border: none
}

.mask {
	top: 0
}

.mask .picker {
	bottom: 0
}

.mask .picker,
.mask .picker-title {
	background: #fff;
	position: fixed;
	width: 100%
}

.mask .picker-title {
	bottom: 180px;
	/*font-size: 1.6rem;*/
	height: 4rem;
	line-height: 4rem;
	padding: 0 1.5rem
}

.mask .picker-title span:first-of-type {
	color: rgba(0, 0, 0, .6)
}

.mask .picker-title span:nth-of-type(2) {
	color: #fa4a11
}

.appointe-time {
	animation: admissionUp .4s;
	-moz-animation: admissionUp .4s;
	-webkit-animation: admissionUp .4s;
	-o-animation: admissionUp .4s
}

.appointe-time {
	width: 100%;
	background: #f9f9f9;
	position: fixed;
	bottom: 0;
	left: 0
}

.appointe-time .pop-title {
	/*font-size: 1.6rem;*/
	position: relative;
	font-family: PingFangSC-Medium;
	height: 5rem;
	line-height: 5rem
}

.appointe-time .pop-title img {
	width: 1.2rem;
	position: absolute;
	right: 1.5rem;
	top: 1.8rem
}

.appointe-time .pop-sub-title {
	padding: 0 1.5rem 1.5rem 3rem;
	color: rgba(0, 0, 0, .6);
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAhhJREFUSA2tVTFoU1EUvdEMokOKlAzWQR2lBBSiU3FKQAlCFptVkeLUFkFHFxdHdejgqkNw61CU4CL5SztF25L4KdSKSJupEQT9/1s9B/z1vtf3vmnrhZN/7znnvct7//2XnGTHCcjXgCvAOeAk8BX4DATAArAFeCPnVUSuQ5sGRjI8EbTnwDPgp8vna3AP5knXAA+3BP4u8N3Wj9oE6lvATQefRY1BPAO8sU12A+7zI8C3Mnu8rs+i+ASsafKILpBPATZnWTLLO7aqJzsGccI2sC6VStJutyWKIul2u1Kr1Vw2cqeB81rUW3ERAk+DEYVCQcIwlGKxuMsnSSLlclk6nc4up5LHyF+ktV7B3xlSFc9qtWpMTimfz0uj0VAuIx3VlW6g+cPkxpy6+OCatdVqSb/fNyRuUbPZNDhVbKjcODHrED5qkflgMJBKpSJBEEgcx9Lr9aRer/v2n0MW+ZOGfsnkbgD3U/EAT77123qc3iLy88CmNuwz571khN3gB9Q5wzF88Q7Wt7bdbkD9FfDeNg5R8/zvCVeDX3A9BOI9bj/xEtKyS7Yvu9SzjYT3+6WUyHh+gcbrPXF5fA3o5TZdAE6x8AQnnQHYxBmuLUqNO0geAFyNL55CWPGJ5LNWQP0bEAJXAfubeQ3uCZAZ/2rAwfyDj4DLLP4EXyg/SOf/cGric5gG9PGMF4BxYBWYBbi6/x7H9zvjb8JeaWm46pCWAAAAAElFTkSuQmCC);
	background-size: 1.2rem;
	background-repeat: no-repeat;
	background-position: 1.5rem .3rem
}

.appointe-time .date-box {
	padding: 0 1.5rem
}

.appointe-time .date-box ul li {
	width: 10%;
	float: left;
	text-align: center;
	margin-right: 5%;
	height: 3.5rem
}

.appointe-time .date-box ul li:last-of-type {
	margin-right: 0
}

.appointe-time .date-box ul li .week {
	line-height: 3.5rem;
	color: rgba(0, 0, 0, .6)
}

.appointe-time .date-box ul li.active {
	background: #fff;
	box-shadow: 0 0 .4rem .1rem rgba(0, 0, 0, .2);
	padding-top: .4rem;
	border-radius: .2rem .2rem 0 0
}

.appointe-time .date-box ul li.active .week {
	color: #fa4a11;
	line-height: 1.5rem
}

.appointe-time .date-box ul li.active .date {
	line-height: 1.2rem;
	font-size: 1rem;
	color: #fa4a11
}

.appointe-time .time-list {
	background: #fff;
	z-index: 2;
	position: relative;
	padding: 1.5rem
}

.appointe-time .time-list ul {
	height: 24rem;
	overflow: auto
}

.appointe-time .time-list ul li {
	width: 25%;
	height: 5rem;
	border-right: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	text-align: center;
	float: left
}

.appointe-time .time-list ul li:nth-of-type(4n+1) {
	border-left: 1px solid #f2f2f2
}

.appointe-time .time-list ul li:first-of-type,
.appointe-time .time-list ul li:nth-of-type(2),
.appointe-time .time-list ul li:nth-of-type(3),
.appointe-time .time-list ul li:nth-of-type(4) {
	border-top: 1px solid #f2f2f2
}

.appointe-time .time-list ul li .time {
	line-height: 5rem
}

.appointe-time .time-list ul li.disabled {
	padding-top: .6rem
}

.appointe-time .time-list ul li.disabled .time {
	line-height: normal;
	color: rgba(0, 0, 0, .3)
}

.appointe-time .time-list ul li.active {
	background: #fa4a11;
	color: #fff;
	border-color: #fa4a11
}

.appointe-time .btn-box {
	padding: 1.5rem;
	background: #fff;
	border-top: 1px solid #f2f2f2
}

.appointe-time .btn-box .left {
	width: 35%;
	border: 1px solid #fa4a11;
	color: #fa4a11;
	border-radius: .3rem
}

.appointe-time .btn-box .left,
.appointe-time .btn-box .right {
	height: 4rem;
	line-height: 4rem;
	text-align: center;
	font-size: 1.6rem;
	font-family: PingFangSC-Medium
}

.appointe-time .btn-box .right {
	width: 60%;
	margin-left: 5%;
	background: #fa4a11;
	color: #fff;
	border-radius: .3rem
}

