.my-lesson-list .right .leoao-city {
	animation: admissionUp .4s;
	-moz-animation: admissionUp .4s;
	-webkit-animation: admissionUp .4s;
	-o-animation: admissionUp .4s
}

@keyframes admission {
	0% {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
		opacity: 0
	}
	to {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1
	}
}

@-webkit-keyframes admission {
	0% {
		-webkit-transform: translateX(100%);
		opacity: 0
	}
	to {
		-webkit-transform: translateX(0);
		opacity: 1
	}
}

@keyframes admissionOut {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

@-webkit-keyframes admissionOut {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

@keyframes admissionDown {
	0% {
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
		opacity: 0
	}
	to {
		-moz-transform: translateY(0);
		opacity: 1
	}
}

@-webkit-keyframes admissionDown {
	0% {
		-webkit-transform: translateY(-100%);
		opacity: 0
	}
	to {
		-webkit-transform: translateY(0);
		opacity: 1
	}
}

@keyframes admissionUp {
	0% {
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
		opacity: 0
	}
	to {
		-moz-transform: translateY(0);
		opacity: 1
	}
}

@-webkit-keyframes admissionUp {
	0% {
		-webkit-transform: translateY(100%);
		opacity: 0
	}
	to {
		-webkit-transform: translateY(0);
		opacity: 1
	}
}

@keyframes rotate {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg)
	}
}

@-webkit-keyframes rotate {
	0% {
		-webkit-transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(180deg)
	}
}

.leoao-city {
	padding: 2.5rem 2.5rem 0
}

.leoao-city .city-text {
	font-size: 2.6rem;
	position: relative;
	font-family: PingFangSC-Semibold
}

.leoao-city .city-text img {
	width: 1.5rem;
	position: absolute;
	right: 0;
	top: 1rem
}

.leoao-city .city-box {
	margin-top: 1rem
}

.leoao-city .city-box .city {
	height: 5rem;
	line-height: 5rem;
	font-size: 1.4rem;
	border-bottom: 1px solid #f2f2f2
}

.leoao-city .city-box .city.active {
	color: #fa4a11
}

.my-lesson .my-lesson-list .center .center-box,
.my-lesson .my-lesson-list .left img {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-moz-transform: translateY(-50%)
}

.my-lesson {
	padding: 4.5rem 1.5rem;
	min-height: 30rem
}

.my-lesson .my-lesson-list {
	background: #fff;
	border-bottom: 1px solid #f2f2f2
}

.my-lesson .my-lesson-list .left {
	width: 27%;
	height: 9.4rem;
	position: relative
}

.my-lesson .my-lesson-list .left img {
	width: 6rem;
	height: 6rem;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%
}

.my-lesson .my-lesson-list .center {
	float: left;
	width: 44%;
	height: 9.4rem;
	position: relative
}

.my-lesson .my-lesson-list .center .center-box .lesson-title {
	font-size: 1.8rem;
	font-family: PingFangSC-Semibold
}

.my-lesson .my-lesson-list .center .center-box .lesson-title a {
	display: inline-block;
	height: 1.4rem;
	width: 1.4rem;
	content: "";
	position: relative;
	top: .1rem;
	left: .2rem;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAAAXNSR0IArs4c6QAAAjZJREFUSA21lc1LVVEUxaWcGUKKEggiFJLoLHQUOE5wIDhy4ti/QnAgNHHkVHwQhCY6dtCgUZQhOjIIVBBxoKSomd/Wb9FZcD3ee3t5bxvW2/udj7Xu3uerpuauvaLpPTgEy2AA/BerhXUS/ErBaNmKDyF8F4Qu8Fchlr8M8TC+NJuASZmdBp/M8jq0HePbQGHrhkGkziop5viEfsULoLBVYBDZefAWib379YGFbIfZMXnaf5d7ppAak7U2aQJZbWtFBB8weaNKAq2jbOuPu//va6Yqm5/Bx5mpAt6pe8RdoJB1MPsG6PzFYkehTX1ToBmUYnOwSOwseAvrv47LM1CqdcKmssVZOsOxUtUC2Vu8MvsRvLNUuXUknoNS7Qls34GEvEkU+5b5RtwASrUh2CQSr6XP6hf66jMUtXs/h7kf8X0Z4+40z9MiUYsoFlzqVeIWkDR9xDbwWPtp2uqSA9PiJho3gSa5nCbwR4i8B9jGCTTG/drZ3oBfidtBrulsHgCRZJVXpLo0WoF3sz/M3lXZZ8xLkGu99PqFiEXV7o3lB9rZWczeVZL4i1xFOgeBRT3RRPLOzJkk+5Kxr81PfxNUfy9QSUSQlUWSPC/Wea7KdOjXgchUXpczjzytb4m5VVsjI2eBif4lWy/HSNVqiYFa190grA3j9fGHxN7r+4Gxen/vZU3MqgAdDQlI2FlYUGX37l4hfgwKmw70G5C3prq5HhVWigie8l9PmO5a7UQ9AougH9yy31sLQE3Cwa12AAAAAElFTkSuQmCC);
	background-repeat: no-repeat;
	background-size: 1.4rem
}

.my-lesson .my-lesson-list .center .center-box .lesson-name {
	font-family: PingFangSC-Regular;
	color: rgba(0, 0, 0, .6)
}

.my-lesson .my-lesson-list .center .center-box .no-coach {
	font-family: PingFangSC-Regular;
	color: #ffad26
}

.my-lesson .my-lesson-list .center .center-box .class-info {
	letter-spacing: -.015rem
}

.my-lesson .my-lesson-list .center .center-box .class-info span i {
	color: rgba(0, 0, 0, .2)
}

.my-lesson .my-lesson-list .center .center-box .class-info span i.main {
	color: #ff4e00
}

.my-lesson .my-lesson-list .right {
	width: 5rem;
	height: 9.4rem;
	padding: 3.2rem 0;
}

.my-lesson .my-lesson-list .right span {
	display: block;
	width: 6.4rem;
	height: 3rem;
	line-height: 3rem;
	text-align: center;
	border-radius: .3rem;
	-webkit-border-radius: .3rem;
	-moz-border-radius: .3rem
}

.my-lesson .my-lesson-list .right span.one {
	border: 1px solid rgba(250, 74, 17, .5);
	color: #fa4a11
}

.my-lesson .my-lesson-list .right span.two {
	border: 1px solid rgba(0, 0, 0, .5);
	color: #000
}

.my-lesson .city-mask {
	top: 0;
	background: #fff
}

.my-lesson .myLessonMask {
	top: 0
}