<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.answer.mapper.SignMapper">
	<select id="querySignByOpenID" parameterType="string" resultType="sign">
		select * from t_sign where openID = #{openID} order by signTime desc limit 0,1
	</select>
	
	
	<insert id="addSign" parameterType="sign">
		insert into t_sign(openID,signTime) values(#{openID},#{signTime})
	</insert>
</mapper>