<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lu.mapper.ProjectMapper" >



<!-- 根据ID查询课程对象 -->
	<select id="selectByPrimaryKey" parameterType="String" resultType="PTrain">
		select train_id,train_name,train_info,train_istest,train_starttime,train_endtime,test_info,test_starttime,test_endtime,train_creater,train_creattime,train_status,org_id,test_name,test_mark from p_train where train_id=#{trainId,jdbcType=VARCHAR}
	</select>
	
</mapper>