<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.answer.mapper.ScoreLogMapper">
    <select id="list" parameterType="ScoreLogQuery" resultType="scoreLog">
        select * from t_score_log where openID = #{openID}
    </select>
</mapper>
