<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.answer.mapper.TActivityUserMapper">
    <select id="listUserAnswer4export" parameterType="java.lang.Long" resultType="UserAnswer4export">
        SELECT
            aua.openid,
            aua.isRight,
            aq.quesDesc
        FROM
            t_activity_user_answer aua
        JOIN t_activity_question aq ON aua.quesID = aq.quesID
        WHERE
            aua.activityID = #{activityID}
    </select>
    <delete id="deleteByActivityID" parameterType="long">
        delete from t_activity_user where activityID = #{activityID}
    </delete>
</mapper>
