<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.answer.mapper.TActivityMapper">
    <select id="selectById" parameterType="string" resultType="activity">
      select * from t_activity where activityID = #{activityID}
    </select>

    <select id="list" parameterType="ActivityQuery" resultType="activity">
        select * from t_activity
        <where>
            <if test="activityName != null">
                and activityName like concat('%' ,#{activityName} , '%')
            </if>
            <if test="activityStatus != null">
                and activityStatus = #{activityStatus}
            </if>
        </where>
    </select>

    <update id="update" parameterType="activity">
        update t_activity
        <set>
            <if test="activityName != null">
                activityName = #{activityName},
            </if>
            <if test="activityStatus != null">
                activityStatus = #{activityStatus},
            </if>
            <if test="startTime != null">
                startTime = #{startTime},
            </if>
            <if test="endTime != null">
                endTime = #{endTime},
            </if>
            <if test="quesNum != null">
                quesNum = #{quesNum},
            </if>
            <if test="fileName != null">
                fileName = #{fileName},
            </if>
        </set>
        where activityID = #{activityID}
    </update>

    <insert id="insert" parameterType="activity">
        insert into t_activity(activityName,activityStatus,creater,createTime,startTime , endTime)
        values(#{activityName},#{activityStatus},#{creater},#{createTime} , #{startTime} , #{endTime})
    </insert>


    <select id="listJoinUser" parameterType="ActivityUserQuery" resultType="activityUser">
        SELECT
        a.createTime,
        a.rightNum,
        c.realName,
        d.orgName,
        a.openID,
        d.orgID
        FROM
        t_activity_user a,
        t_user b,
        t_jobnum c,
        t_organization d
        WHERE
        a.openID = b.openID
        AND b.jobNum = c.jobNum
        AND c.orgID = d.orgID
        and a.activityID = #{activityID}
        <if test="orgID != null">
            and c.orgID = #{orgID}
        </if>
        <if test="realName != null">
            and c.realName like CONCAT("%" ,#{realName} , "%")
        </if>
    </select>


    <select id="listOrgReport" parameterType="orgReportQuery" resultType="orgReport">
        SELECT
        a.activityID, c.orgID,sum(a.rightNum),d.activityName,d.quesNum,count(a.openID) as joinNum
        FROM
        t_activity_user a
        JOIN t_user b
        JOIN t_jobnum c join t_activity d ON a.openID = b.openID
        AND b.jobnum = c.jobnum and a.activityID = d.activityID
        <where>
            <if test="orgID != null">
                and c.orgID = #{orgID}
            </if>
            <if test="activityName != null">
                and d.activityName like concat("%" ,#{activityName} ,"%")
            </if>
        </where>
        group by a.activityID , c.orgID
    </select>


    <select id="listUnFinish"  resultType="activity">
        select * from t_activity
                where activityStatus != 3 and startTime is not null and endTime is not null
    </select>
</mapper>
