<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.answer.mapper.TAdminMapper">
    <resultMap id="baseResultMap" type="TAdmin">
        <id column="adminId" property="adminId"/>
        <result column="adminName" property="adminName"/>
        <result column="adminPwd" property="adminPwd"/>
        <result column="adminStatus" property="adminStatus"/>
        <result column="roleId" property="roleId"/>
        <result column="creater" property="creater"/>
        <result column="createTime" property="createTime"/>
    </resultMap>
    <select id="selectById" parameterType="string" resultMap="baseResultMap">
        select * from t_admin where adminId = #{id}
    </select>
    <select id="selectPage" parameterType="TAdmin" resultMap="baseResultMap">
        select * from t_admin
        <where>
            <if test="adminId != null">
                and adminId = #{adminId}
            </if>
            <if test="adminName != null">
                and adminName = #{adminName}
            </if>
            <if test="adminPwd != null">
                and adminPwd = #{adminPwd}
            </if>
            <if test="adminStatus != null">
                and adminStatus = #{adminStatus}
            </if>
            <if test="roleId != null">
                and roleId = #{roleId}
            </if>
            <if test="creater != null">
                and creater = #{creater}
            </if>
            <if test="createTime != null">
                and createTime = #{createTime}
            </if>
        </where>
        <if test="offSet != null and limit != null">
            limit #{offSet},#{limit}
        </if>
    </select>
    <select id="selectPageCount" parameterType="TAdmin" resultType="int">
        select count(*) from t_admin
        <where>
            <if test="adminId != null">
                and adminId = #{adminId}
            </if>
            <if test="adminName != null">
                and adminName = #{adminName}
            </if>
            <if test="adminPwd != null">
                and adminPwd = #{adminPwd}
            </if>
            <if test="adminStatus != null">
                and adminStatus = #{adminStatus}
            </if>
            <if test="roleId != null">
                and roleId = #{roleId}
            </if>
            <if test="creater != null">
                and creater = #{creater}
            </if>
            <if test="createTime != null">
                and createTime = #{createTime}
            </if>
        </where>
    </select>
    <select id="selectPageByMap" parameterType="map" resultMap="baseResultMap">
        select * from t_admin
        <where>
            <if test="adminId != null">
                and adminId = #{adminId}
            </if>
            <if test="adminName != null">
                and adminName = #{adminName}
            </if>
            <if test="adminPwd != null">
                and adminPwd = #{adminPwd}
            </if>
            <if test="adminStatus != null">
                and adminStatus = #{adminStatus}
            </if>
            <if test="roleId != null">
                and roleId = #{roleId}
            </if>
            <if test="creater != null">
                and creater = #{creater}
            </if>
            <if test="createTime != null">
                and createTime = #{createTime}
            </if>
        </where>
        <if test="offSet != null and limit != null">
            limit #{offSet},#{limit}
        </if>
    </select>
    <select id="selectPageCountByMap" parameterType="map" resultType="int">
        select count(*) from t_admin
        <where>
            <if test="adminId != null">
                and adminId = #{adminId}
            </if>
            <if test="adminName != null">
                and adminName = #{adminName}
            </if>
            <if test="adminPwd != null">
                and adminPwd = #{adminPwd}
            </if>
            <if test="adminStatus != null">
                and adminStatus = #{adminStatus}
            </if>
            <if test="roleId != null">
                and roleId = #{roleId}
            </if>
            <if test="creater != null">
                and creater = #{creater}
            </if>
            <if test="createTime != null">
                and createTime = #{createTime}
            </if>
        </where>
    </select>
    <insert id="insert" keyProperty="adminId" parameterType="TAdmin" useGeneratedKeys="true">
        insert into t_admin
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="adminId != null">
                adminId,
            </if>
            <if test="adminName != null">
                adminName,
            </if>
            <if test="adminPwd != null">
                adminPwd,
            </if>
            <if test="adminStatus != null">
                adminStatus,
            </if>
            <if test="roleId != null">
                roleId,
            </if>
            <if test="creater != null">
                creater,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="adminId != null">
                #{adminId},
            </if>
            <if test="adminName != null">
                #{adminName},
            </if>
            <if test="adminPwd != null">
                #{adminPwd},
            </if>
            <if test="adminStatus != null">
                #{adminStatus},
            </if>
            <if test="roleId != null">
                #{roleId},
            </if>
            <if test="creater != null">
                #{creater},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
        </trim>
    </insert>
    <delete id="deleteById" parameterType="string">
        delete from t_admin where adminId = #{id}
    </delete>
    <delete id="delete" parameterType="TAdmin">
        delete from t_admin
        <where>
            <if test="adminId != null">
                and adminId = #{adminId}
            </if>
            <if test="adminName != null">
                and adminName = #{adminName}
            </if>
            <if test="adminPwd != null">
                and adminPwd = #{adminPwd}
            </if>
            <if test="adminStatus != null">
                and adminStatus = #{adminStatus}
            </if>
            <if test="roleId != null">
                and roleId = #{roleId}
            </if>
            <if test="creater != null">
                and creater = #{creater}
            </if>
            <if test="createTime != null">
                and createTime = #{createTime}
            </if>
        </where>
    </delete>
    <delete id="deleteByMap" parameterType="map">
        delete from t_admin
        <where>
            <if test="adminId != null">
                and adminId = #{adminId}
            </if>
            <if test="adminName != null">
                and adminName = #{adminName}
            </if>
            <if test="adminPwd != null">
                and adminPwd = #{adminPwd}
            </if>
            <if test="adminStatus != null">
                and adminStatus = #{adminStatus}
            </if>
            <if test="roleId != null">
                and roleId = #{roleId}
            </if>
            <if test="creater != null">
                and creater = #{creater}
            </if>
            <if test="createTime != null">
                and createTime = #{createTime}
            </if>
        </where>
    </delete>
    <update id="update" parameterType="TAdmin">
        update t_admin
        <set>
            <if test="adminName != null">
                adminName = #{adminName},
            </if>
            <if test="adminPwd != null">
                adminPwd = #{adminPwd},
            </if>
            <if test="adminStatus != null">
                adminStatus = #{adminStatus},
            </if>
            <if test="roleId != null">
                roleId = #{roleId},
            </if>
            <if test="creater != null">
                creater = #{creater},
            </if>
            <if test="createTime != null">
                createTime = #{createTime},
            </if>
        </set>
        <if test="adminId != null">
            where adminId = #{adminId}
        </if>
    </update>

    <select id="select" parameterType="TAdmin" resultMap="baseResultMap">
        select * from t_admin
        <where>
            <if test="adminId != null">
                and adminId = #{adminId}
            </if>
            <if test="adminName != null">
                and adminName = #{adminName}
            </if>
            <if test="adminPwd != null">
                and adminPwd = #{adminPwd}
            </if>
            <if test="adminStatus != null">
                and adminStatus = #{adminStatus}
            </if>
            <if test="roleId != null">
                and roleId = #{roleId}
            </if>
            <if test="creater != null">
                and creater = #{creater}
            </if>
            <if test="createTime != null">
                and createTime = #{createTime}
            </if>
        </where>
        <if test="offSet != null and limit != null">
            limit #{offSet},#{limit}
        </if>
    </select>

    <select id="list" parameterType="adminQuery" resultMap="baseResultMap">
        select * from t_admin
        <where>
            <if test="adminName != null">
                and adminName = #{adminName}
            </if>
            <if test="adminStatus != null">
                and adminStatus = #{adminStatus}
            </if>
        </where>

    </select>

</mapper>
