<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.answer.mapper.TAnswerMapper">
    <resultMap id="baseResultMap" type="TAnswer">
        <id column="ansID" property="ansID"/>
        <result column="ansDesc" property="ansDesc"/>
        <result column="quesID" property="quesID"/>
        <result column="createTime" property="createTime"/>
    </resultMap>
    <select id="selectById" parameterType="string" resultMap="baseResultMap">
        select * from t_answer where ansID = #{id}
    </select>
    <select id="selectPage" parameterType="TAnswer" resultMap="baseResultMap">
        select * from t_answer
        <where>
            <if test="ansID != null">
                and ansID = #{ansID}
            </if>
            <if test="ansDesc != null">
                and ansDesc = #{ansDesc}
            </if>
            <if test="quesID != null">
                and quesID = #{quesID}
            </if>
            <if test="createTime != null">
                and createTime = #{createTime}
            </if>
        </where>
        <if test="offSet != null and limit != null">
            limit #{offSet},#{limit}
        </if>
    </select>
    <select id="selectPageCount" parameterType="TAnswer" resultType="int">
        select count(*) from t_answer
        <where>
            <if test="ansID != null">
                and ansID = #{ansID}
            </if>
            <if test="ansDesc != null">
                and ansDesc = #{ansDesc}
            </if>
            <if test="quesID != null">
                and quesID = #{quesID}
            </if>
            <if test="createTime != null">
                and createTime = #{createTime}
            </if>
        </where>
    </select>
    <select id="selectPageByMap" parameterType="map" resultMap="baseResultMap">
        select * from t_answer
        <where>
            <if test="ansID != null">
                and ansID = #{ansID}
            </if>
            <if test="ansDesc != null">
                and ansDesc = #{ansDesc}
            </if>
            <if test="quesID != null">
                and quesID = #{quesID}
            </if>
            <if test="createTime != null">
                and createTime = #{createTime}
            </if>
        </where>
        <if test="offSet != null and limit != null">
            limit #{offSet},#{limit}
        </if>
    </select>
    <select id="selectPageCountByMap" parameterType="map" resultType="int">
        select count(*) from t_answer
        <where>
            <if test="ansID != null">
                and ansID = #{ansID}
            </if>
            <if test="ansDesc != null">
                and ansDesc = #{ansDesc}
            </if>
            <if test="quesID != null">
                and quesID = #{quesID}
            </if>
            <if test="createTime != null">
                and createTime = #{createTime}
            </if>
        </where>
    </select>
    <insert id="insert" keyProperty="ansID" parameterType="TAnswer" useGeneratedKeys="true">
        insert into t_answer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ansID != null">
                ansID,
            </if>
            <if test="ansDesc != null">
                ansDesc,
            </if>
            <if test="quesID != null">
                quesID,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ansID != null">
                #{ansID},
            </if>
            <if test="ansDesc != null">
                #{ansDesc},
            </if>
            <if test="quesID != null">
                #{quesID},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
        </trim>
    </insert>
    <delete id="deleteById" parameterType="string">
        delete from t_answer where ansID = #{id}
    </delete>
    <delete id="delete" parameterType="TAnswer">
        delete from t_answer
        <where>
            <if test="ansID != null">
                and ansID = #{ansID}
            </if>
            <if test="ansDesc != null">
                and ansDesc = #{ansDesc}
            </if>
            <if test="quesID != null">
                and quesID = #{quesID}
            </if>
            <if test="createTime != null">
                and createTime = #{createTime}
            </if>
        </where>
    </delete>
    <delete id="deleteByMap" parameterType="map">
        delete from t_answer
        <where>
            <if test="ansID != null">
                and ansID = #{ansID}
            </if>
            <if test="ansDesc != null">
                and ansDesc = #{ansDesc}
            </if>
            <if test="quesID != null">
                and quesID = #{quesID}
            </if>
            <if test="createTime != null">
                and createTime = #{createTime}
            </if>
        </where>
    </delete>
    <update id="update" parameterType="TAnswer">
        update t_answer
        <set>
            <if test="ansDesc != null">
                ansDesc = #{ansDesc},
            </if>
            <if test="quesID != null">
                quesID = #{quesID},
            </if>
            <if test="createTime != null">
                createTime = #{createTime},
            </if>
        </set>
        <if test="ansID != null">
            where ansID = #{ansID}
        </if>
    </update>
</mapper>
