<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.answer.mapper.TJobnumMapper">
    <resultMap id="baseResultMap" type="TJobnum">
        <id column="id" property="id"/>
        <result column="jobNum" property="jobNum"/>
        <result column="status" property="status"/>
        <result column="sex" property="sex"/>
        <result column="realName" property="realName"/>
        <result column="orgID" property="orgID"/>
    </resultMap>
    <select id="selectById" parameterType="string" resultMap="baseResultMap">
        select * from t_jobnum where id = #{id}
    </select>

    <select id="selectByJobNum" parameterType="string" resultMap="baseResultMap">
        select * from t_jobnum where jobNum = #{jobNum}
    </select>

    <select id="list" parameterType="jobNumQuery" resultType="TJobnum">
        select * from t_jobnum
        <where>
            <if test="jobNum != null">
                and jobNum = #{jobNum}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="realName != null">
                and realName like concat ("%" , #{realName},"%")
            </if>
            <if test="orgID != null">
                and orgID = #{orgID}
            </if>
        </where>
    </select>

    <insert id="insert" keyProperty="id" parameterType="TJobnum" useGeneratedKeys="true">
        insert into t_jobnum
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="jobNum != null">
                jobNum,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="realName != null">
                realName,
            </if>
            <if test="orgID != null">
                orgID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="jobNum != null">
                #{jobNum},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="sex != null">
                #{sex},
            </if>
            <if test="realName != null">
                #{realName},
            </if>
            <if test="orgID != null">
                #{orgID},
            </if>
        </trim>
    </insert>
    <delete id="deleteById" parameterType="string">
        delete from t_jobnum where id = #{id}
    </delete>
    <update id="update" parameterType="TJobnum">
        update t_jobnum
        <set>
            <if test="jobNum != null">
                jobNum = #{jobNum},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="realName != null">
                realName = #{realName},
            </if>
            <if test="orgName != null">
                orgName = #{orgName},
            </if>
        </set>
        <if test="id != null">
            where id = #{id}
        </if>
    </update>
</mapper>
