<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.answer.mapper.TOrderMapper">
    <resultMap id="baseResultMap" type="TOrder">
        <id column="orderID" property="orderID"/>
        <result column="orderNo" property="orderNo"/>
        <result column="goodsID" property="goodsID"/>
        <result column="openID" property="openID"/>
        <result column="createTime" property="createTime"/>
        <result column="orderStatus" property="orderStatus"/>
    </resultMap>
    <select id="selectById" parameterType="string" resultMap="baseResultMap">
        select * from t_order where orderID = #{id}
    </select>
    <select id="selectPage" parameterType="TOrder" resultMap="baseResultMap">
        select * from t_order
        <where>
            <if test="orderID != null">
                and orderID = #{orderID}
            </if>
            <if test="orderNo != null">
                and orderNo = #{orderNo}
            </if>
            <if test="goodsID != null">
                and goodsID = #{goodsID}
            </if>
            <if test="openID != null">
                and openID = #{openID}
            </if>
            <if test="createTime != null">
                and createTime = #{createTime}
            </if>
            <if test="orderStatus != null">
                and orderStatus = #{orderStatus}
            </if>
        </where>
        <if test="offSet != null and limit != null">
            limit #{offSet},#{limit}
        </if>
    </select>
    <select id="selectPageCount" parameterType="TOrder" resultType="int">
        select count(*) from t_order
        <where>
            <if test="orderID != null">
                and orderID = #{orderID}
            </if>
            <if test="orderNo != null">
                and orderNo = #{orderNo}
            </if>
            <if test="goodsID != null">
                and goodsID = #{goodsID}
            </if>
            <if test="openID != null">
                and openID = #{openID}
            </if>
            <if test="createTime != null">
                and createTime = #{createTime}
            </if>
            <if test="orderStatus != null">
                and orderStatus = #{orderStatus}
            </if>
        </where>
    </select>
    <select id="selectPageByMap" parameterType="map" resultMap="baseResultMap">
        select * from t_order
        <where>
            <if test="orderID != null">
                and orderID = #{orderID}
            </if>
            <if test="orderNo != null">
                and orderNo = #{orderNo}
            </if>
            <if test="goodsID != null">
                and goodsID = #{goodsID}
            </if>
            <if test="openID != null">
                and openID = #{openID}
            </if>
            <if test="createTime != null">
                and createTime = #{createTime}
            </if>
            <if test="orderStatus != null">
                and orderStatus = #{orderStatus}
            </if>
        </where>
        <if test="offSet != null and limit != null">
            limit #{offSet},#{limit}
        </if>
    </select>
    <select id="selectPageCountByMap" parameterType="map" resultType="int">
        select count(*) from t_order
        <where>
            <if test="orderID != null">
                and orderID = #{orderID}
            </if>
            <if test="orderNo != null">
                and orderNo = #{orderNo}
            </if>
            <if test="goodsID != null">
                and goodsID = #{goodsID}
            </if>
            <if test="openID != null">
                and openID = #{openID}
            </if>
            <if test="createTime != null">
                and createTime = #{createTime}
            </if>
            <if test="orderStatus != null">
                and orderStatus = #{orderStatus}
            </if>
        </where>
    </select>
    <insert id="insert" keyProperty="orderID" parameterType="TOrder" useGeneratedKeys="true">
        insert into t_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderID != null">
                orderID,
            </if>
            <if test="orderNo != null">
                orderNo,
            </if>
            <if test="goodsID != null">
                goodsID,
            </if>
            <if test="openID != null">
                openID,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="orderStatus != null">
                orderStatus,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderID != null">
                #{orderID},
            </if>
            <if test="orderNo != null">
                #{orderNo},
            </if>
            <if test="goodsID != null">
                #{goodsID},
            </if>
            <if test="openID != null">
                #{openID},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="orderStatus != null">
                #{orderStatus},
            </if>
        </trim>
    </insert>
    <delete id="deleteById" parameterType="string">
        delete from t_order where orderID = #{id}
    </delete>
    <delete id="delete" parameterType="TOrder">
        delete from t_order
        <where>
            <if test="orderID != null">
                and orderID = #{orderID}
            </if>
            <if test="orderNo != null">
                and orderNo = #{orderNo}
            </if>
            <if test="goodsID != null">
                and goodsID = #{goodsID}
            </if>
            <if test="openID != null">
                and openID = #{openID}
            </if>
            <if test="createTime != null">
                and createTime = #{createTime}
            </if>
            <if test="orderStatus != null">
                and orderStatus = #{orderStatus}
            </if>
        </where>
    </delete>
    <delete id="deleteByMap" parameterType="map">
        delete from t_order
        <where>
            <if test="orderID != null">
                and orderID = #{orderID}
            </if>
            <if test="orderNo != null">
                and orderNo = #{orderNo}
            </if>
            <if test="goodsID != null">
                and goodsID = #{goodsID}
            </if>
            <if test="openID != null">
                and openID = #{openID}
            </if>
            <if test="createTime != null">
                and createTime = #{createTime}
            </if>
            <if test="orderStatus != null">
                and orderStatus = #{orderStatus}
            </if>
        </where>
    </delete>
    <update id="update" parameterType="TOrder">
        update t_order
        <set>
            <if test="orderNo != null">
                orderNo = #{orderNo},
            </if>
            <if test="goodsID != null">
                goodsID = #{goodsID},
            </if>
            <if test="openID != null">
                openID = #{openID},
            </if>
            <if test="createTime != null">
                createTime = #{createTime},
            </if>
            <if test="orderStatus != null">
                orderStatus = #{orderStatus},
            </if>
        </set>
        <if test="orderID != null">
            where orderID = #{orderID}
        </if>
    </update>



    <select id="list" parameterType="OrderQuery" resultType="tOrder">
        SELECT
        a.*,
        c.realName,
        c.orgID,
        d.goodsName
        FROM
        t_order a
        JOIN t_user b
        JOIN t_jobnum c join t_goods d ON a.openID = b.openID
        AND b.jobNum = c.jobNum and a.goodsID = d.goodsID
        <where>
            <if test="orderNo != null">
                and a.orderNo like concat("%" , #{orderNo} , "%")
            </if>
            <if test="orderStatus != null">
                and a.orderStatus = #{orderStatus}
            </if>
            <if test="realName != null">
                and c.realName like concat("%" , #{realName} , "%")
            </if>
            <if test="goodsName != null">
                and d.goodsName like concat("%" , #{goodsName} , "%")
            </if>
        </where>
    </select>

</mapper>
