<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.answer.mapper.TOrganizationMapper">
    <select id="select" parameterType="TOrganization" resultType="TOrganization">
            select * from t_organization
    </select>

    <select id="selectById" parameterType="string" resultType="TOrganization">
            select * from t_organization where orgID = #{orgID}
    </select>
</mapper>
