<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.answer.mapper.TQuestionMapper">
    <resultMap id="baseResultMap" type="TQuestion">
        <id column="quesID" property="quesID"/>
        <result column="quesDesc" property="quesDesc"/>
        <result column="typeID" property="typeID"/>
        <result column="createTime" property="createTime"/>
        <result column="creater" property="creater"/>
        <result column="rightAnswerID" property="rightAnswerID"/>
        <result column="quesType" property="quesType"/>
        <result column="typeName" property="typeName"/>
        <result column="quesExplain" property="quesExplain"/>
    </resultMap>
    <select id="selectById" parameterType="string" resultMap="baseResultMap">
        select * from t_question where quesID = #{id}
    </select>
    <select id="selectPage" parameterType="TQuestion" resultMap="baseResultMap">
        select * from t_question
        <where>
            <if test="quesID != null">
                and quesID = #{quesID}
            </if>
            <if test="quesDesc != null">
                and quesDesc = #{quesDesc}
            </if>
            <if test="typeID != null">
                and typeID = #{typeID}
            </if>
            <if test="createTime != null">
                and createTime = #{createTime}
            </if>
            <if test="creater != null">
                and creater = #{creater}
            </if>
            <if test="rightAnswerID != null">
                and rightAnswerID = #{rightAnswerID}
            </if>
            <if test="quesType != null">
                and quesType = #{quesType}
            </if>
        </where>
        <if test="offSet != null and limit != null">
            limit #{offSet},#{limit}
        </if>
    </select>


    <select id="list" parameterType="questionQuery" resultMap="baseResultMap">
        select a.*,b.typeName from t_question a join t_type b on a.typeID = b.typeID
        <where>
            <if test="quesDesc != null">
                and a.quesDesc like CONCAT ("%" ,#{quesDesc} ,"%")
            </if>
            <if test="typeID != null">
                and a.typeID = #{typeID}
            </if>
            <if test="quesType != null">
                and a.quesType = #{quesType}
            </if>
        </where>
    </select>


    <select id="selectPageCount" parameterType="TQuestion" resultType="int">
        select count(*) from t_question
        <where>
            <if test="quesID != null">
                and quesID = #{quesID}
            </if>
            <if test="quesDesc != null">
                and quesDesc = #{quesDesc}
            </if>
            <if test="typeID != null">
                and typeID = #{typeID}
            </if>
            <if test="createTime != null">
                and createTime = #{createTime}
            </if>
            <if test="creater != null">
                and creater = #{creater}
            </if>
            <if test="rightAnswerID != null">
                and rightAnswerID = #{rightAnswerID}
            </if>
            <if test="quesType != null">
                and quesType = #{quesType}
            </if>
        </where>
    </select>
    <select id="selectPageByMap" parameterType="map" resultMap="baseResultMap">
        select * from t_question
        <where>
            <if test="quesID != null">
                and quesID = #{quesID}
            </if>
            <if test="quesDesc != null">
                and quesDesc = #{quesDesc}
            </if>
            <if test="typeID != null">
                and typeID = #{typeID}
            </if>
            <if test="createTime != null">
                and createTime = #{createTime}
            </if>
            <if test="creater != null">
                and creater = #{creater}
            </if>
            <if test="rightAnswerID != null">
                and rightAnswerID = #{rightAnswerID}
            </if>
            <if test="quesType != null">
                and quesType = #{quesType}
            </if>
        </where>
        <if test="offSet != null and limit != null">
            limit #{offSet},#{limit}
        </if>
    </select>
    <select id="selectPageCountByMap" parameterType="map" resultType="int">
        select count(*) from t_question
        <where>
            <if test="quesID != null">
                and quesID = #{quesID}
            </if>
            <if test="quesDesc != null">
                and quesDesc = #{quesDesc}
            </if>
            <if test="typeID != null">
                and typeID = #{typeID}
            </if>
            <if test="createTime != null">
                and createTime = #{createTime}
            </if>
            <if test="creater != null">
                and creater = #{creater}
            </if>
            <if test="rightAnswerID != null">
                and rightAnswerID = #{rightAnswerID}
            </if>
            <if test="quesType != null">
                and quesType = #{quesType}
            </if>
        </where>
    </select>
    <insert id="insert" keyProperty="quesID" parameterType="TQuestion" useGeneratedKeys="true">
        insert into t_question
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="quesID != null">
                quesID,
            </if>
            <if test="quesDesc != null">
                quesDesc,
            </if>
            <if test="typeID != null">
                typeID,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="creater != null">
                creater,
            </if>
            <if test="rightAnswerID != null">
                rightAnswerID,
            </if>
            <if test="quesType != null">
                quesType,
            </if>
            <if test="quesExplain != null">
                quesExplain,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="quesID != null">
                #{quesID},
            </if>
            <if test="quesDesc != null">
                #{quesDesc},
            </if>
            <if test="typeID != null">
                #{typeID},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="creater != null">
                #{creater},
            </if>
            <if test="rightAnswerID != null">
                #{rightAnswerID},
            </if>
            <if test="quesType != null">
                #{quesType},
            </if>
            <if test="quesExplain != null">
                #{quesExplain},
            </if>
        </trim>
    </insert>
    <delete id="deleteById" parameterType="string">
        delete from t_question where quesID = #{id}
    </delete>
    <delete id="delete" parameterType="TQuestion">
        delete from t_question
        <where>
            <if test="quesID != null">
                and quesID = #{quesID}
            </if>
            <if test="quesDesc != null">
                and quesDesc = #{quesDesc}
            </if>
            <if test="typeID != null">
                and typeID = #{typeID}
            </if>
            <if test="createTime != null">
                and createTime = #{createTime}
            </if>
            <if test="creater != null">
                and creater = #{creater}
            </if>
            <if test="rightAnswerID != null">
                and rightAnswerID = #{rightAnswerID}
            </if>
            <if test="quesType != null">
                and quesType = #{quesType}
            </if>
        </where>
    </delete>
    <delete id="deleteByMap" parameterType="map">
        delete from t_question
        <where>
            <if test="quesID != null">
                and quesID = #{quesID}
            </if>
            <if test="quesDesc != null">
                and quesDesc = #{quesDesc}
            </if>
            <if test="typeID != null">
                and typeID = #{typeID}
            </if>
            <if test="createTime != null">
                and createTime = #{createTime}
            </if>
            <if test="creater != null">
                and creater = #{creater}
            </if>
            <if test="rightAnswerID != null">
                and rightAnswerID = #{rightAnswerID}
            </if>
            <if test="quesType != null">
                and quesType = #{quesType}
            </if>
        </where>
    </delete>
    <update id="update" parameterType="TQuestion">
        update t_question
        <set>
            <if test="quesDesc != null">
                quesDesc = #{quesDesc},
            </if>
            <if test="typeID != null">
                typeID = #{typeID},
            </if>
            <if test="createTime != null">
                createTime = #{createTime},
            </if>
            <if test="creater != null">
                creater = #{creater},
            </if>
            <if test="rightAnswerID != null">
                rightAnswerID = #{rightAnswerID},
            </if>
            <if test="quesType != null">
                quesType = #{quesType},
            </if>
            <if test="quesExplain != null">
                quesExplain = #{quesExplain},
            </if>
        </set>
        <if test="quesID != null">
            where quesID = #{quesID}
        </if>
    </update>
</mapper>
