<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.answer.mapper.TRoleMenuMapper">
    <resultMap id="baseResultMap" type="TRoleMenu">
        <id column="id" property="id"/>
        <result column="menuId" property="menuId"/>
        <result column="roleId" property="roleId"/>
    </resultMap>
    <select id="selectById" parameterType="string" resultMap="baseResultMap">
        select * from t_role_menu where id = #{id}
    </select>
    <select id="selectPage" parameterType="TRoleMenu" resultMap="baseResultMap">
        select * from t_role_menu
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="menuId != null">
                and menuId = #{menuId}
            </if>
            <if test="roleId != null">
                and roleId = #{roleId}
            </if>
        </where>
        <if test="offSet != null and limit != null">
            limit #{offSet},#{limit}
        </if>
    </select>
    <select id="selectPageCount" parameterType="TRoleMenu" resultType="int">
        select count(*) from t_role_menu
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="menuId != null">
                and menuId = #{menuId}
            </if>
            <if test="roleId != null">
                and roleId = #{roleId}
            </if>
        </where>
    </select>
    <select id="selectPageByMap" parameterType="map" resultMap="baseResultMap">
        select * from t_role_menu
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="menuId != null">
                and menuId = #{menuId}
            </if>
            <if test="roleId != null">
                and roleId = #{roleId}
            </if>
        </where>
        <if test="offSet != null and limit != null">
            limit #{offSet},#{limit}
        </if>
    </select>
    <select id="selectPageCountByMap" parameterType="map" resultType="int">
        select count(*) from t_role_menu
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="menuId != null">
                and menuId = #{menuId}
            </if>
            <if test="roleId != null">
                and roleId = #{roleId}
            </if>
        </where>
    </select>
    <insert id="insert" keyProperty="id" parameterType="TRoleMenu" useGeneratedKeys="true">
        insert into t_role_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="menuId != null">
                menuId,
            </if>
            <if test="roleId != null">
                roleId,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="menuId != null">
                #{menuId},
            </if>
            <if test="roleId != null">
                #{roleId},
            </if>
        </trim>
    </insert>
    <delete id="deleteById" parameterType="string">
        delete from t_role_menu where id = #{id}
    </delete>
    <delete id="delete" parameterType="TRoleMenu">
        delete from t_role_menu
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="menuId != null">
                and menuId = #{menuId}
            </if>
            <if test="roleId != null">
                and roleId = #{roleId}
            </if>
        </where>
    </delete>
    <delete id="deleteByMap" parameterType="map">
        delete from t_role_menu
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="menuId != null">
                and menuId = #{menuId}
            </if>
            <if test="roleId != null">
                and roleId = #{roleId}
            </if>
        </where>
    </delete>
    <update id="update" parameterType="TRoleMenu">
        update t_role_menu
        <set>
            <if test="menuId != null">
                menuId = #{menuId},
            </if>
            <if test="roleId != null">
                roleId = #{roleId},
            </if>
        </set>
        <if test="id != null">
            where id = #{id}
        </if>
    </update>

</mapper>
