<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.answer.mapper.TRoomMapper">
    <resultMap id="baseResultMap" type="TRoom">
        <id column="roomID" property="roomID"/>
        <result column="createOpenID" property="createOpenID"/>
        <result column="openID" property="openID"/>
        <result column="createTime" property="createTime"/>
        <result column="joinTime" property="joinTime"/>
        <result column="typeID" property="typeID"/>
        <result column="status" property="status"/>
    </resultMap>
    <select id="selectById" parameterType="string" resultMap="baseResultMap">
        select * from t_room where roomID = #{id}
    </select>
    <select id="selectPage" parameterType="TRoom" resultMap="baseResultMap">
        select * from t_room
        <where>
            <if test="roomID != null">
                and roomID = #{roomID}
            </if>
            <if test="createOpenID != null">
                and createOpenID = #{createOpenID}
            </if>
            <if test="openID != null">
                and openID = #{openID}
            </if>
            <if test="createTime != null">
                and createTime = #{createTime}
            </if>
            <if test="joinTime != null">
                and joinTime = #{joinTime}
            </if>
            <if test="typeID != null">
                and typeID = #{typeID}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        <if test="offSet != null and limit != null">
            limit #{offSet},#{limit}
        </if>
    </select>
    <select id="selectPageCount" parameterType="TRoom" resultType="int">
        select count(*) from t_room
        <where>
            <if test="roomID != null">
                and roomID = #{roomID}
            </if>
            <if test="createOpenID != null">
                and createOpenID = #{createOpenID}
            </if>
            <if test="openID != null">
                and openID = #{openID}
            </if>
            <if test="createTime != null">
                and createTime = #{createTime}
            </if>
            <if test="joinTime != null">
                and joinTime = #{joinTime}
            </if>
            <if test="typeID != null">
                and typeID = #{typeID}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>
    <select id="selectPageByMap" parameterType="map" resultMap="baseResultMap">
        select * from t_room
        <where>
            <if test="roomID != null">
                and roomID = #{roomID}
            </if>
            <if test="createOpenID != null">
                and createOpenID = #{createOpenID}
            </if>
            <if test="openID != null">
                and openID = #{openID}
            </if>
            <if test="createTime != null">
                and createTime = #{createTime}
            </if>
            <if test="joinTime != null">
                and joinTime = #{joinTime}
            </if>
            <if test="typeID != null">
                and typeID = #{typeID}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        <if test="offSet != null and limit != null">
            limit #{offSet},#{limit}
        </if>
    </select>
    <select id="selectPageCountByMap" parameterType="map" resultType="int">
        select count(*) from t_room
        <where>
            <if test="roomID != null">
                and roomID = #{roomID}
            </if>
            <if test="createOpenID != null">
                and createOpenID = #{createOpenID}
            </if>
            <if test="openID != null">
                and openID = #{openID}
            </if>
            <if test="createTime != null">
                and createTime = #{createTime}
            </if>
            <if test="joinTime != null">
                and joinTime = #{joinTime}
            </if>
            <if test="typeID != null">
                and typeID = #{typeID}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>
    <insert id="insert" keyProperty="roomID" parameterType="TRoom" useGeneratedKeys="true">
        insert into t_room
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roomID != null">
                roomID,
            </if>
            <if test="createOpenID != null">
                createOpenID,
            </if>
            <if test="openID != null">
                openID,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="joinTime != null">
                joinTime,
            </if>
            <if test="typeID != null">
                typeID,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roomID != null">
                #{roomID},
            </if>
            <if test="createOpenID != null">
                #{createOpenID},
            </if>
            <if test="openID != null">
                #{openID},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="joinTime != null">
                #{joinTime},
            </if>
            <if test="typeID != null">
                #{typeID},
            </if>
            <if test="status != null">
                #{status},
            </if>
        </trim>
    </insert>
    <delete id="deleteById" parameterType="string">
        delete from t_room where roomID = #{id}
    </delete>
    <delete id="delete" parameterType="TRoom">
        delete from t_room
        <where>
            <if test="roomID != null">
                and roomID = #{roomID}
            </if>
            <if test="createOpenID != null">
                and createOpenID = #{createOpenID}
            </if>
            <if test="openID != null">
                and openID = #{openID}
            </if>
            <if test="createTime != null">
                and createTime = #{createTime}
            </if>
            <if test="joinTime != null">
                and joinTime = #{joinTime}
            </if>
            <if test="typeID != null">
                and typeID = #{typeID}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </delete>
    <delete id="deleteByMap" parameterType="map">
        delete from t_room
        <where>
            <if test="roomID != null">
                and roomID = #{roomID}
            </if>
            <if test="createOpenID != null">
                and createOpenID = #{createOpenID}
            </if>
            <if test="openID != null">
                and openID = #{openID}
            </if>
            <if test="createTime != null">
                and createTime = #{createTime}
            </if>
            <if test="joinTime != null">
                and joinTime = #{joinTime}
            </if>
            <if test="typeID != null">
                and typeID = #{typeID}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </delete>
    <update id="update" parameterType="TRoom">
        update t_room
        <set>
            <if test="createOpenID != null">
                createOpenID = #{createOpenID},
            </if>
            <if test="openID != null">
                openID = #{openID},
            </if>
            <if test="createTime != null">
                createTime = #{createTime},
            </if>
            <if test="joinTime != null">
                joinTime = #{joinTime},
            </if>
            <if test="typeID != null">
                typeID = #{typeID},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        <if test="roomID != null">
            where roomID = #{roomID}
        </if>
    </update>
</mapper>
