<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.answer.mapper.TRoomQuestionMapper">
    <resultMap id="baseResultMap" type="TRoomQuestion">
        <id column="id" property="id"/>
        <result column="roomID" property="roomID"/>
        <result column="quesID" property="quesID"/>
        <result column="createAnswer" property="createAnswer"/>
        <result column="answer" property="answer"/>
        <result column="rightAnswer" property="rightAnswer"/>
    </resultMap>
    <select id="selectById" parameterType="string" resultMap="baseResultMap">
        select * from t_room_question where id = #{id}
    </select>
    <select id="selectPage" parameterType="TRoomQuestion" resultMap="baseResultMap">
        select * from t_room_question
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="roomID != null">
                and roomID = #{roomID}
            </if>
            <if test="quesID != null">
                and quesID = #{quesID}
            </if>
            <if test="createAnswer != null">
                and createAnswer = #{createAnswer}
            </if>
            <if test="answer != null">
                and answer = #{answer}
            </if>
            <if test="rightAnswer != null">
                and rightAnswer = #{rightAnswer}
            </if>
        </where>
        <if test="offSet != null and limit != null">
            limit #{offSet},#{limit}
        </if>
    </select>
    <select id="selectPageCount" parameterType="TRoomQuestion" resultType="int">
        select count(*) from t_room_question
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="roomID != null">
                and roomID = #{roomID}
            </if>
            <if test="quesID != null">
                and quesID = #{quesID}
            </if>
            <if test="createAnswer != null">
                and createAnswer = #{createAnswer}
            </if>
            <if test="answer != null">
                and answer = #{answer}
            </if>
            <if test="rightAnswer != null">
                and rightAnswer = #{rightAnswer}
            </if>
        </where>
    </select>
    <select id="selectPageByMap" parameterType="map" resultMap="baseResultMap">
        select * from t_room_question
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="roomID != null">
                and roomID = #{roomID}
            </if>
            <if test="quesID != null">
                and quesID = #{quesID}
            </if>
            <if test="createAnswer != null">
                and createAnswer = #{createAnswer}
            </if>
            <if test="answer != null">
                and answer = #{answer}
            </if>
            <if test="rightAnswer != null">
                and rightAnswer = #{rightAnswer}
            </if>
        </where>
        <if test="offSet != null and limit != null">
            limit #{offSet},#{limit}
        </if>
    </select>
    <select id="selectPageCountByMap" parameterType="map" resultType="int">
        select count(*) from t_room_question
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="roomID != null">
                and roomID = #{roomID}
            </if>
            <if test="quesID != null">
                and quesID = #{quesID}
            </if>
            <if test="createAnswer != null">
                and createAnswer = #{createAnswer}
            </if>
            <if test="answer != null">
                and answer = #{answer}
            </if>
            <if test="rightAnswer != null">
                and rightAnswer = #{rightAnswer}
            </if>
        </where>
    </select>
    <insert id="insert" keyProperty="id" parameterType="TRoomQuestion" useGeneratedKeys="true">
        insert into t_room_question
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="roomID != null">
                roomID,
            </if>
            <if test="quesID != null">
                quesID,
            </if>
            <if test="createAnswer != null">
                createAnswer,
            </if>
            <if test="answer != null">
                answer,
            </if>
            <if test="rightAnswer != null">
                rightAnswer,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="roomID != null">
                #{roomID},
            </if>
            <if test="quesID != null">
                #{quesID},
            </if>
            <if test="createAnswer != null">
                #{createAnswer},
            </if>
            <if test="answer != null">
                #{answer},
            </if>
            <if test="rightAnswer != null">
                #{rightAnswer},
            </if>
        </trim>
    </insert>
    <delete id="deleteById" parameterType="string">
        delete from t_room_question where id = #{id}
    </delete>
    <delete id="delete" parameterType="TRoomQuestion">
        delete from t_room_question
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="roomID != null">
                and roomID = #{roomID}
            </if>
            <if test="quesID != null">
                and quesID = #{quesID}
            </if>
            <if test="createAnswer != null">
                and createAnswer = #{createAnswer}
            </if>
            <if test="answer != null">
                and answer = #{answer}
            </if>
            <if test="rightAnswer != null">
                and rightAnswer = #{rightAnswer}
            </if>
        </where>
    </delete>
    <delete id="deleteByMap" parameterType="map">
        delete from t_room_question
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="roomID != null">
                and roomID = #{roomID}
            </if>
            <if test="quesID != null">
                and quesID = #{quesID}
            </if>
            <if test="createAnswer != null">
                and createAnswer = #{createAnswer}
            </if>
            <if test="answer != null">
                and answer = #{answer}
            </if>
            <if test="rightAnswer != null">
                and rightAnswer = #{rightAnswer}
            </if>
        </where>
    </delete>
    <update id="update" parameterType="TRoomQuestion">
        update t_room_question
        <set>
            <if test="roomID != null">
                roomID = #{roomID},
            </if>
            <if test="quesID != null">
                quesID = #{quesID},
            </if>
            <if test="createAnswer != null">
                createAnswer = #{createAnswer},
            </if>
            <if test="answer != null">
                answer = #{answer},
            </if>
            <if test="rightAnswer != null">
                rightAnswer = #{rightAnswer},
            </if>
        </set>
        <if test="id != null">
            where id = #{id}
        </if>
    </update>
</mapper>
