<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.answer.mapper.TTypeMapper">
    <resultMap id="baseResultMap" type="TType">
        <id column="typeID" property="typeID"/>
        <result column="parentID" property="parentID"/>
        <result column="typeName" property="typeName"/>
        <result column="createTime" property="createTime"/>
        <result column="typeStatus" property="typeStatus"/>
        <result column="typeImg" property="typeImg"/>
        <collection property="sonType" ofType="TType" select="selectByPId"
                    column="typeID" />
    </resultMap>
    <select id="selectById" parameterType="string" resultMap="baseResultMap">
        select * from t_type where typeID = #{id} and typeStatus = 1
    </select>

    <select id="selectByPId" parameterType="long" resultMap="baseResultMap">
        select * from t_type where parentID = #{id} and typeStatus = 1
    </select>

    <select id="select" parameterType="TType" resultMap="baseResultMap">
        select * from t_type
        <where>
            <if test="parentID != null">
              and parentID = #{parentID}
            </if>
            and typeStatus = 1
        </where>
    </select>
    <insert id="insert" keyProperty="typeID" parameterType="TType" useGeneratedKeys="true">
        insert into t_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="typeID != null">
                typeID,
            </if>
            <if test="parentID != null">
                parentID,
            </if>
            <if test="typeName != null">
                typeName,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="typeStatus != null">
                typeStatus,
            </if>
            <if test="typeImg != null">
                typeImg,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="typeID != null">
                #{typeID},
            </if>
            <if test="parentID != null">
                #{parentID},
            </if>
            <if test="typeName != null">
                #{typeName},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="typeStatus != null">
                #{typeStatus},
            </if>
            <if test="typeImg != null">
                #{typeImg},
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="TType">
        update t_type
        <set>
            <if test="parentID != null">
                parentID = #{parentID},
            </if>
            <if test="typeName != null">
                typeName = #{typeName},
            </if>
            <if test="createTime != null">
                createTime = #{createTime},
            </if>
            <if test="typeStatus != null">
                typeStatus = #{typeStatus},
            </if>
            <if test="typeImg != null">
                typeImg = #{typeImg},
            </if>
        </set>
        <if test="typeID != null">
            where typeID = #{typeID}
        </if>
    </update>
</mapper>
