<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.answer.mapper.TUserAnswerMapper">
    <resultMap id="baseResultMap" type="TUserAnswer">
        <id column="id" property="id"/>
        <result column="openID" property="openID"/>
        <result column="questionID" property="questionID"/>
        <result column="typeID" property="typeID"/>
        <result column="answerID" property="answerID"/>
        <result column="isRight" property="isRight"/>
        <result column="status" property="status"/>
        <result column="createTime" property="createTime"/>
        <result column="quesDesc" property="quesDesc"/>
        <collection property="answerList" ofType="TAnswer">
            <id column="ansID" property="ansID"/>
            <result column="ansDesc" property="ansDesc"/>
        </collection>
    </resultMap>
    <select id="selectById" parameterType="string" resultMap="baseResultMap">
        select * from t_user_answer where id = #{id}
    </select>
    <select id="selectPage" parameterType="TUserAnswer" resultMap="baseResultMap">
        select * from t_user_answer
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="openID != null">
                and openID = #{openID}
            </if>
            <if test="questionID != null">
                and questionID = #{questionID}
            </if>
            <if test="typeID != null">
                and typeID = #{typeID}
            </if>
            <if test="answerID != null">
                and answerID = #{answerID}
            </if>
            <if test="isRight != null">
                and isRight = #{isRight}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="createTime != null">
                and createTime = #{createTime}
            </if>
        </where>
        <if test="offSet != null and limit != null">
            limit #{offSet},#{limit}
        </if>
    </select>
    <select id="selectPageCount" parameterType="TUserAnswer" resultType="int">
        select count(*) from t_user_answer
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="openID != null">
                and openID = #{openID}
            </if>
            <if test="questionID != null">
                and questionID = #{questionID}
            </if>
            <if test="typeID != null">
                and typeID = #{typeID}
            </if>
            <if test="answerID != null">
                and answerID = #{answerID}
            </if>
            <if test="isRight != null">
                and isRight = #{isRight}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="createTime != null">
                and createTime = #{createTime}
            </if>
        </where>
    </select>
    <select id="selectPageByMap" parameterType="map" resultMap="baseResultMap">
        select * from t_user_answer
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="openID != null">
                and openID = #{openID}
            </if>
            <if test="questionID != null">
                and questionID = #{questionID}
            </if>
            <if test="typeID != null">
                and typeID = #{typeID}
            </if>
            <if test="answerID != null">
                and answerID = #{answerID}
            </if>
            <if test="isRight != null">
                and isRight = #{isRight}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="createTime != null">
                and createTime = #{createTime}
            </if>
        </where>
        <if test="offSet != null and limit != null">
            limit #{offSet},#{limit}
        </if>
    </select>
    <select id="selectPageCountByMap" parameterType="map" resultType="int">
        select count(*) from t_user_answer
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="openID != null">
                and openID = #{openID}
            </if>
            <if test="questionID != null">
                and questionID = #{questionID}
            </if>
            <if test="typeID != null">
                and typeID = #{typeID}
            </if>
            <if test="answerID != null">
                and answerID = #{answerID}
            </if>
            <if test="isRight != null">
                and isRight = #{isRight}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="createTime != null">
                and createTime = #{createTime}
            </if>
        </where>
    </select>
    <insert id="insert" keyProperty="id" parameterType="TUserAnswer" useGeneratedKeys="true">
        insert into t_user_answer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="openID != null">
                openID,
            </if>
            <if test="questionID != null">
                questionID,
            </if>
            <if test="typeID != null">
                typeID,
            </if>
            <if test="answerID != null">
                answerID,
            </if>
            <if test="isRight != null">
                isRight,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="openID != null">
                #{openID},
            </if>
            <if test="questionID != null">
                #{questionID},
            </if>
            <if test="typeID != null">
                #{typeID},
            </if>
            <if test="answerID != null">
                #{answerID},
            </if>
            <if test="isRight != null">
                #{isRight},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
        </trim>
    </insert>
    <delete id="deleteById" parameterType="string">
        delete from t_user_answer where id = #{id}
    </delete>
    <delete id="delete" parameterType="TUserAnswer">
        delete from t_user_answer
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="openID != null">
                and openID = #{openID}
            </if>
            <if test="questionID != null">
                and questionID = #{questionID}
            </if>
            <if test="typeID != null">
                and typeID = #{typeID}
            </if>
            <if test="answerID != null">
                and answerID = #{answerID}
            </if>
            <if test="isRight != null">
                and isRight = #{isRight}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="createTime != null">
                and createTime = #{createTime}
            </if>
        </where>
    </delete>
    <delete id="deleteByMap" parameterType="map">
        delete from t_user_answer
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="openID != null">
                and openID = #{openID}
            </if>
            <if test="questionID != null">
                and questionID = #{questionID}
            </if>
            <if test="typeID != null">
                and typeID = #{typeID}
            </if>
            <if test="answerID != null">
                and answerID = #{answerID}
            </if>
            <if test="isRight != null">
                and isRight = #{isRight}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="createTime != null">
                and createTime = #{createTime}
            </if>
        </where>
    </delete>
    <select id="selectOrgCount" parameterType="map" resultType="orgCount">
        SELECT
        <if test="isRight == 1">
            rightNum,
        </if>
        <if test="isRight == null ">
            countNum,
        </if>
        b.orgID,
        b.orgName
        FROM
        t_organization b
        left JOIN (
        select
        <if test="isRight == 1">
            count(orgID) rightNum,
        </if>
        <if test="isRight == null ">
            count(orgID) countNum,
        </if>
            orgID
        from t_user_answer
        <where>
            <if test="endTime != null">
            AND createTime &lt;= #{endTime}
            </if>
            <if test="startTime != null">
            AND createTime &gt;= #{startTime}
            </if>
            <if test="isRight != null">
                and isRight = #{isRight}
            </if>
        </where>
        GROUP BY orgID
        ) a
        ON a.orgID = b.orgID

    </select>

    <update id="update" parameterType="TUserAnswer">
        update t_user_answer
        <set>
            <if test="openID != null">
                openID = #{openID},
            </if>
            <if test="questionID != null">
                questionID = #{questionID},
            </if>
            <if test="typeID != null">
                typeID = #{typeID},
            </if>
            <if test="answerID != null">
                answerID = #{answerID},
            </if>
            <if test="isRight != null">
                isRight = #{isRight},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="createTime != null">
                createTime = #{createTime},
            </if>
        </set>
        <if test="id != null">
            where id = #{id}
        </if>
    </update>

    <select id="answerDetailPage" parameterType="AnswerDetailParam" resultMap="baseResultMap">
        SELECT
            a.id,
            a.questionID,
            a.createTime,
            a.answerID,
            a.isRight,
            b.ansDesc,
            b.ansID,
            c.quesDesc,
            c.rightAnswerID
        FROM
            (
                SELECT
                    *
                FROM
                    t_user_answer
                WHERE
                    openID = #{openID}
                <if test="isRight != null and isRight != 0">
                  AND isRight = #{isRight}
                </if>
                <if test="endTime != null">
                    and createTime &lt;= #{endTime}
                </if>
                <if test="startTime != null">
                    and createTime &gt;= #{startTime}
                </if>
                ORDER BY
                createTime DESC
                limit #{offSet},#{limit}
            ) a,
            t_answer b,
            t_question c
        WHERE
            a.questionID = b.quesID
        AND a.questionID = c.quesID
        <if test="quesDesc != null">
          and c.quesDesc like CONCAT('%', #{quesDesc},'%')
        </if>
    </select>

    <select id="answerDetailCount" parameterType="AnswerDetailParam" resultType="int">
        SELECT
          count(openID)
        FROM
          t_user_answer
        WHERE
        openID = #{openID}
            <if test="isRight != null and isRight != 0">
                AND isRight = #{isRight}
            </if>
            <if test="endTime != null">
                and createTime &lt;= #{endTime}
            </if>
            <if test="startTime != null">
                and createTime &gt;= #{startTime}
            </if>
    </select>



    <update id="updateOrgID" parameterType="map">
        update t_user_answer set orgID = #{orgID} where openID = #{openID}
    </update>

    <delete id="deleteByOpenIdAndTypeId">
      delete from t_user_answer where openID = #{openID}
      <if test="typeID != null">
        and typeID = #{typeID}
      </if>
    </delete>

</mapper>
