<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.answer.mapper.BindRecordMapper">
	<select id="queryRecord" parameterType="bindRecord" resultType="int">
		select count(id) from t_bind_record where openID = #{openID} and operYear = #{operYear} and operMonth =#{operMonth} and operDay = #{operDay}
	</select>
	
	<insert id="addRecord" parameterType="bindRecord">
		insert into t_bind_record(jobNum,openID,operYear,operMonth,operDay,operTime) values
		(#{jobNum},#{openID},#{operYear},#{operMonth},#{operDay},#{operTime})
	</insert>
</mapper>